---
export interface Props {
    videoId: string;
    title: string;
}

const { videoId, title } = Astro.props;
---

<div class="youtube-video">
    <iframe
        src={`https://www.youtube.com/embed/${videoId}`}
        title={title}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>

<style>
    .youtube-video iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        border: none;
    }
</style>
