---
import Layout from "../layouts/Layout.astro";
---

<Layout title="THE OATER">
	<div class="mx-auto text-center my-36 py-36">
		
		<h1 class="text-7xl text-raisin">404</h1>
		<h2 class="text-4xl text-raisin">Page not found</h2>
	</div>
</Layout>
