---
import Layout from "../layouts/Layout.astro";
import Primary from "../components/primary.astro";
import Iconbar from "../components/iconbar.astro";
import ImgText from "../components/imagetext.astro";
import Hero from "../components/hero.astro";
import Headline from "../components/headline.astro";
import ImageCenter from "../components/imagecenter.astro";
import Values from "../components/values.astro";
---

<Layout title="THE OATER - Careers">
    <Hero heroHeading="Careers" heroImage="/header_career.png" />
    <ImgText title="Who we are" imgUrl="/whoweare.jpg">
        <br />Our vision is to unlock  food transparency and true sustainability through an  experience of freshness  by pioneering on-site production of plant-based food , worldwide.  At The Oater, we firmly believe that the future of food production demands a reevaluation of WHERE, HOW, and WHAT we produce, ensuring a brighter future for all. 
        By hyper-localizing production and using regional ingredients, we're making food production more transparent and sustainable.<br />
        We empower our customers to enhance their businesses with innovation and transparency, offering fresher and more sustainable offerings and experiences to their own customers. We are revolutionizing oat drink. <br>Do you want to join?
    </ImgText>
    <Iconbar
        bgcolor="bg-oat-superlight"
        title="Life @ The Oater"
        icontitle1="Hybrid Work"
        imgUrl1="/hybridwork.svg"
        icontitle2="Fun Team Events"
        imgUrl2="/funteamevents.svg"
        icontitle3="Office in Cologne"
        imgUrl3="/cologneoffice.svg"
        icontitle4="Flexible Hours"
        imgUrl4="/flexiblehours.svg"
        icontitle5="Urban sports"
        imgUrl5="/urbansports.svg"
    >
    We are from different countries and continents, speak different languages and welcome all forms of diversity! Our work culture is hybrid, flexible, motivated, and collaborative, all driven by our common vision to revolutionize food production.
    As a company, we strive to grow and create a positive and lasting impact. In an environment that fosters positivity and collaboration, we encourage each other to dream big and deliver high-quality results. We value ownership and fresh perspectives. Our values are at the heart of how we interact with within the team and beyond.
    The Oater is committed to providing equal opportunities for people of all nationalities, genders, sexual orientations, religious backgrounds, gender identities, and individuals with disabilities. We invite everyone to apply and contribute to our diverse and inclusive workforce.
    </Iconbar>
    <ImageCenter imgUrl="/team_career.jpg" headline="The Team">
        <Primary slot="button" buttonName="Apply now" buttonUrl="https://join.com/companies/oater" />
    </ImageCenter>
    <Values
        title="Our Values"
        bgcolor="bg-zinc-200"
        cardData={[
            {
                icon: "/ownership.webp",
                title: "Ownership",
                text: "At The Oater, it is important to us that our employees learn, develop, and feel challenged without feeling overwhelmed or left alone. Each team member takes ownership of their projects and receives ongoing support and constructive feedback.",
            },
            {
                icon: "/gratitude.webp",
                title: "Gratitude",
                text: "We are mindful and show appreciation for ourselves and others. We are humble, appreciative and celebrate each other (and ourselves) for our successes.",
            },
            {
                icon: "/care.webp",
                title: "Care",
                text: "Our actions carry consequences that impact those around us and the environment. Therefore, we make all our decisions striving towards a more livable future on this planet for all. We also ensure that every team member feels valued and supported.",
            },
            {
                icon: "/goodvibes.webp",
                title: "Good Vibes",
                text: "At The Oater, we are optimistic and have a positive attitude. We believe that striving for our shared vision should not only unite us but also be fun.",
            },
            {
                icon: "/excellence.webp",
                title: "Excellence",
                text: "At The Oater, we set high standards for ourselves and pursue excellence in everything we do. Our ambition and passion drive us to create value with diligence, flexibility, and speed.",
            },
            {
                icon: "/together.webp",
                title: "Together",
                text: "Team spirit is the foundation for a strong team and a successful company. That's why we prioritize collaboration, trust, and support within our team, which includes values such as respect, empathy, and assistance.",
            },
        ]}
    />
    <ImgText imgUrl="/office.webp" title="Our Office" minusmargin="-mb-20">
        <span class="font-bold">InnoDom Cologne</span><br /> Weyertal 109 <br />50931 Köln<br /> Germany
    </ImgText>
</Layout>
