---
import Layout from "../layouts/Layout.astro";
import Primary from "../components/primary.astro";
import Iconbar from "../components/iconbar.astro";
import ImgText from "../components/imagetext.astro";
import Hero from "../components/hero.astro";
import Headline from "../components/headline.astro";
import ImageCenter from "../components/imagecenter.astro";
import Values from "../components/values.astro";
---

<Layout title="THE OATER - Careers">
    <Hero heroHeading="Careers" heroImage="/header_career.webp" />
    <Headline headline="" />
    <ImgText title="Who we are" imgUrl="/whoweare.webp">
        We develop high-quality appliances for fresh and sustainable on-site food production. Our first product is The Oater Barista – an
        oat drink machine for the foodservice industry. And this is just the beginning. <br />Our vision is to unlock food transparency and
        true sustainability through an experience of freshness by pioneering on-site production of plant-based food, worldwide. At The
        Oater, we believe the future of food production requires us to rethink WHERE, HOW, and WHAT we produce to ensure a better future on
        this planet for all. By localizing production, we make it more transparent with regional ingredients. <br />We enable our customers
        to make their businesses more innovative and transparent, and in the process, bring fresher and more sustainable offerings and
        experiences to their own customers. We are revolutionizing oat drink. Do you want to join?
    </ImgText>
    <Iconbar
        bgcolor="bg-oat-superlight"
        title="Life @ The Oater"
        icontitle1="Hybrid Work"
        imgUrl1="/hybridwork.svg"
        icontitle2="Fun Team Events"
        imgUrl2="/funteamevents.svg"
        icontitle3="Office in Cologne"
        imgUrl3="/cologneoffice.svg"
        icontitle4="Flexible Hours"
        imgUrl4="/flexiblehours.svg"
        icontitle5="Urban sports"
        imgUrl5="/urbansports.svg"
    >
        We are from different countries and continents, speak different languages and welcome all forms of diversity! We are hybrid,
        flexible, motivated, collaborative, and work at eye level on our common vision to make food production an experience. As a company,
        we want to grow and create impact - together and sustainably. In a positive and collaborative environment, we support each other to
        think big and deliver quality. We value ownership and fresh perspectives. Our values are at the heart of how we interact with within
        the team and beyond. The Oater provides equal opportunity for all and encourages all nationalities, genders, sexual orientations,
        religious backgrounds, gender identities, and people with disabilities to apply.
    </Iconbar>
    <ImageCenter imgUrl="/team_career.webp" headline="The Team">
        <Primary slot="button" buttonName="Apply now" buttonUrl="https://join.com/companies/oater" />
    </ImageCenter>
    <Values title="Our Values" bgcolor="bg-zinc-200" />
    <ImgText imgUrl="/office.webp" title="Our Office">
        <span class="font-bold">InnoDom Cologne</span><br /> Weyertal 109 <br />50931 Köln<br /> Germany
    </ImgText>
</Layout>
