---
import Layout from "../layouts/Layout.astro";
import Primary from "../components/primary.astro";
import Iconbar from "../components/iconbar.astro";
import ImgText from "../components/imagetext.astro";
import Hero from "../components/hero.astro";
import Headline from "../components/headline.astro";
import ImageCenter from "../components/imagecenter.astro";
import Values from "../components/values.astro";
---

<Layout title="THE OATER - Careers">
    <Hero heroHeading="Careers" heroImage="/header_career.png" />
    <ImgText title="Who we are" imgUrl="/whoweare.jpg">
        Our vision is to unlock  food transparency and true sustainability through an experience of freshness by pioneering on-site production of plant-based food, worldwide.  At The Oater®, we firmly believe that the future of food production demands a reevaluation of WHERE, HOW, and WHAT we produce, ensuring a brighter future for all. 
        By hyper-localizing production and using regional ingredients, we're making food production more transparent and sustainable.<br />
        We empower our customers to enhance their businesses with innovation and transparency, offering fresher and more sustainable offerings and experiences to their own customers. We are revolutionizing oat drink. <br>Do you want to join?
    </ImgText>
    <Iconbar
        bgcolor="bg-oat-superlight"
        title="Life @ The Oater®"
        icontitle1="Hybrid Work"
        imgUrl1="/hybridwork.svg"
        icontitle2="Fun Team Events"
        imgUrl2="/funteamevents.svg"
        icontitle3="Office in Cologne"
        imgUrl3="/cologneoffice.svg"
        icontitle4="Flexible Hours"
        imgUrl4="/flexiblehours.svg"
        icontitle5="Urban sports"
        imgUrl5="/urbansports.svg"
    >
    We are from different countries and continents, speak different languages and welcome all forms of diversity! Our work culture is hybrid, flexible, motivated, and collaborative, all driven by our common vision to revolutionize food production.
    As a company, we strive to grow and create a positive and lasting impact. In an environment that fosters positivity and collaboration, we encourage each other to dream big and deliver high-quality results. We value ownership and fresh perspectives. Our values are at the heart of how we interact with within the team and beyond.
    The Oater® is committed to providing equal opportunities for people of all nationalities, genders, sexual orientations, religious backgrounds, gender identities, and individuals with disabilities. We invite everyone to apply and contribute to our diverse and inclusive workforce.
    </Iconbar>
    <ImageCenter imgUrl="/team_career.jpg" headline="The Team">
        <Primary slot="button" buttonName="Apply now" buttonUrl="https://join.com/companies/oater" />
    </ImageCenter>
    <Values
        title="Our Values"
        bgcolor="bg-zinc-200"
        cardData={[
            {
                icon: "/values.webp",
                title: "Company Values",
                text: "Our values are the foundation of our actions and shape our corporate culture. At The Oater, these values are at the heart of every action – creating a culture that inspires and excites.",
            },
            {
                icon: "/appreciation.webp",
                title: "Appreciation",
                text: "We recognize each individual's contributions and celebrate successes together. Regular feedback, celebrating milestones, and small acts of consideration foster a respectful and supportive work environment.",
            },
            {
                icon: "/collaboration.webp",
                title: "Collaboration",
                text: "Together, we achieve more. Through transparent communication, proactively seeking and providing feedback, and prioritizing shared goals, we strengthen our team and promote unity.",
            },
            {
                icon: "/innovation.webp",
                title: "Innovation",
                text: "We are bold and creative in implementing new ideas. Constructive criticism, effective use of work hours, and the willingness to learn from initial attempts drive our innovative spirit.",
            },
            {
                icon: "/determination.webp",
                title: "Determination",
                text: "Hands-on approach instead of hesitation. We work efficiently and goal-oriented, take responsibility, and establish clear processes to achieve our objectives with determination.",
            },
            {
                icon: "/passion.webp",
                title: "Passion",
                text: "Our conviction drives us. With high motivation, enthusiasm, and the pursuit of personal growth, we set ambitious goals and work with dedication to achieve them.",
            },
        ]}
    />
    <ImgText imgUrl="/office.webp" title="Our Office" minusmargin="-mb-20">
        <span class="font-bold">InnoDom Cologne</span><br /> Weyertal 109 <br />50931 Köln<br /> Germany
    </ImgText>
</Layout>
