---
import Layout from "../layouts/Layout.astro";
---

<Layout title="THE OATER">
    <div class="container mx-auto max-w-7xl px-12 py-36">
        <article class="prose">
            <h2>Imprint</h2>
            <p>Information according to § 5 TMG Oater. | OIY Solutions GmbH Weyertal 109 50931 Cologne, Germany</p>
            <p>Represented by: Sarah Nesti, Lisa Nesti, Benjamin Auer, Henrik Burger</p>
            Managing directors: Sarah Nesti, Lisa Nesti, Benjamin Auer, Henrik Burger
            <p>Local court Aachen: HRB 25291 Contact</p>
            Phone: +49 (0)221 6700 4044 E-Mail: info@oater.de
            <p>
                EU Dispute Resolution The European Commission provides a platform for online dispute resolution
                 (OS): https://ec.europa.eu/consumers/odr/. You can find our e-mail address in the imprint above. 
                 Consumer dispute resolution/universal arbitration board We participate in a dispute resolution procedure 
                 before a consumer arbitration board. The universal arbitration board of the Zentrum für Schlichtung e.V., 
                 Straßburger Straße 8, 77694 Kehl am Rhein (https://www.verbraucher-schlichter.de) is responsible.<p></p>
            </p>
        </article>
    </div>
</Layout>
