---
import Layout from "../layouts/Layout.astro";
import Mainhero from "../components/mainhero.astro";
import Primary from "../components/primary.astro";
import Secondary from "../components/secondary.astro";
import Iconbar from "../components/iconbar.astro";
import Sustainable from "../components/sustainable.astro";
import ImgText from "../components/imagetext.astro";
import Newsletter from "../components/newslettersignup.astro";
import Blogsection from "../components/blogsection.astro";
import IconbarHome from "../components/iconbarHome.astro";
import Oatermix from "../components/oatermix.astro";
---
<Layout title="THE OATER">
    <Mainhero
        heroImage="The Oater Barista Maschine.png"
        heroHeading="A Fresh Take On Oat Milk"
        heroSubtitle="For more impact in your café"
        heroText="Offer your guests a fresh experience – produce sustainable oat drink in barista quality on-site. Discover if The Oater® Barista is right for your café!"
>

        <Primary slot="button" buttonName="Take the 1-minute quiz" buttonUrl="https://share-eu1.hsforms.com/1KM3gGgfeS1mdqBzwXyDhbgfnkng" />
    </Mainhero>

    <ImgText title="Your café, your oat drink" imgUrl="/cafe mug.png">    
Developed for the hospitality: With The Oater Barista®, you can produce fresh oat drink on-site, fully automated. With our easy, low-waste solution, you can set new standards in terms of taste and sustainability - for your guests and your team.
        <Secondary slot="button" buttonName="How it works" buttonUrl="/product" />
    </ImgText>

<Oatermix
        id="ingredientmix"
        imgUrl="/zutaten-mix.png"
        title="We made it simple. You make it fresh."
        mixpropertiesData={[
            {
                icon: "/biozertifiziert.svg",
                title: "FRESH",
                text: "Our Barista oat drink is prepared fresh and on-site. This offers an incomparable customer experience.",
            },
            {
                icon: "/hafer.svg",
                title: "BARISTA QUALITY",
                text: "Developed with hospitality professionals, our oat drink delivers excellent foam quality and harmony in coffee.",
            },
            {
                icon: "/zucker.svg",
                title: "MILK CARTON-FREE",
                text: "By producing on-site and dispensing into reusable bottles, The Oater Barista® avoids creating environmentally harmful compound carton waste.",
            },
            {
                icon: "/verpackungsarm.svg",
                title: "FROM GERMANY",
                text: "The Oater focuses on quality and regionality - we develop and manufacture our products in Germany and source 100% German oats.",
            },
            {
                icon: "/pflanzlich.svg",
                title: "EASY HANDLING",
                text: "Our machine is automated - from dosing to cleaning. Coupled with an intuitive user experience, it fits seamlessly into fast-paced workflows.",
            },
        ]}
    />

    <Sustainable
    heading="Testimonials"
    id="ziele"
    susData={[
        {
            iconUrl: "/melittaprofessional.svg",
            title: "Robin Franke, Chief Product Officer Melitta Professional",
            text: "The Oater is a real game-changer in milk alternatives, especially for coffee lovers. At Melitta, we’re excited about this partnership because it’s not just about a sustainable oat milk but about individualization. It's a fresh and exciting approach to milk coffee that we believe will set a new standard in the industry.",
        },
        {
            iconUrl: "/heavenskitchen.svg",
            title: "Tanja Goldstein, Owner Heaven’s Kitchen",
            text: "With the introduction of the first oat milk machine in Stuttgart, Heaven's Kitchen is setting new standards in terms of quality and sustainability. Our daily fresh oat drink not only offers an outstanding taste experience, but also actively contributes to the protection of our environment. The consistently positive feedback from our guests has shown that we have made the right decision with this innovative purchase.",
        },
        {
            iconUrl: "/moxxa.svg",
            title: "Britta Barthelmess, Owner moxxa caffè & Roastery",
            text: "We are very happy to have found The Oater. We have a huge packaging waste problem in the hospitality industry with milk cartons. Two thirds of all the milk we serve is now oat milk. Thanks to The Oater, we can now go into a recycling system with bottles that we fill, serve, wash and reuse. It’s genius.",
        },
    ]}
/>

<Iconbar
bgcolor="bg-zinc-200"
icontitle1="Vegconomist"
imgUrl1="/vegconomist.png"
icontitle2="DEHOGA"
imgUrl2="/dehoga.svg"
icontitle3="WDR"
imgUrl3="/wdr.svg"
icontitle4="Kölner Stadtanzeiger"
imgUrl4="/ksta.svg"
icontitle5="Gastro Magazin"
imgUrl5="/gastromagazin.svg"
    />

    <ImgText title="The OATeam" imgUrl="/founders.webp" reverse>
        Behind The Oater is a passionate team of coffee and oat drink enthusiasts, pioneers and dreamers. We are united by the mission to rethink food production and make the world a little more sustainable. We are passionate about helping hospitality professionals achieve their quality and sustainability goals. Together, we are setting new standards in the gastronomy of the future. 
        <span class="font-semibold">Because the (oat) milk of the future doesn't need a cow nor a milk carton.</span>
        <Secondary slot="button" buttonName="About Us" buttonUrl="/about" />
    </ImgText>


    <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26294092.js"></script>
    <!-- Add a container div to wrap the button -->
    <div id="cookie_button_container">
        <!-- Add HubSpot Cookie trigger button HTML -->
        <button
            type="button"
            id="hs_show_banner_button"
            onClick="(function(){
                var _hsp = window._hsp = window._hsp || [];
                _hsp.push(['showBanner']);
            })()"
        >
            Cookie Settings
        </button>
    </div>

    <style>
        /* Add custom CSS for the container */
        #cookie_button_container {
            display: none; /* Hide the container by default */
        }

        /* Adjust the vertical position as needed, e.g., top: 30%; */
        #cookie_button_container.show-button {
            display: block; /* Show the container when it has the "show-button" class */
            position: fixed;
            right: 0;
            top: 21%; /* Set the initial vertical position to 30% */
            z-index: 999; /* Ensure it's above other content */
        }

        /* Add custom CSS for the HubSpot Cookie trigger button */
        #hs_show_banner_button {
            background-color: #ead18c;
            border: 1px solid #ead18c;
            border-radius: 3px;
            padding: 10px 16px;
            text-decoration: none;
            color: #fff;
            font-family: inherit;
            font-size: inherit;
            font-weight: normal;
            line-height: inherit;
            text-align: left;
            text-shadow: none;
            cursor: pointer;
            transition:  0.3s; /* Add a smooth transition effect */
            opacity: 0.3;
        }

        #hs_show_banner_button:hover {
            opacity: 1; /* Increase opacity on hover to 100% */
        }
    </style>

    <script>
        // JavaScript to show the button container after the Newsletter section
        window.addEventListener("scroll", function() {
            var newsletterSection = document.getElementById("newsletter_section");
            var buttonContainer = document.getElementById("cookie_button_container");

            if (newsletterSection && window.scrollY >= newsletterSection.offsetTop) {
                buttonContainer.classList.add("show-button");
            } else {
                buttonContainer.classList.remove("show-button");
            }
        });
    </script>
    <a id="newsletter_section"></a>
    <ImgText imgUrl="/henrik.webp" title="Oat drink, made fresh" minusmargin="-mb-20">
        <span class="font-bold">Ready to wow your guests?</span>
        <Secondary slot="button" buttonName="Let's chat!" buttonUrl="/de/produkt" />
    </ImgText>
</Layout>
