---
import Layout from "../layouts/Layout.astro";
---

<Layout title="THE OATER">
    <div class="container mx-auto max-w-7xl px-12 py-36">
        <article class="prose">
            <h2 id="-datenschutzerkl-rung-f-r-oiy-solutions-gmbh-nach-den-vorgaben-der-dsgvo-">
                <strong>Datenschutzerklärung für OIY Solutions GmbH nach den Vorgaben der DSGVO</strong>
            </h2>
            <p>
                Die OIY Solutions GmbH (nachfolgend „Verantwortlicher“), freut sich, dass Sie unsere Webseite besuchen. Datenschutz und
                Datensicherheit bei der Nutzung unserer Webseite sind für uns sehr wichtig. Wir möchten Sie daher an dieser Stelle darüber
                informieren, welche Ihrer personenbezogenen Daten wir bei Ihrem Besuch auf unserer Webseite erfassen und für welche Zwecke
                diese genutzt werden.
            </p>
            <p>
                Da Gesetzesänderungen oder Änderungen unserer unternehmensinternen Prozesse eine Anpassung dieser Datenschutzerklärung
                erforderlich machen können, bitten wir Sie, diese Datenschutzerklärung regelmäßig durchzulesen. Die Datenschutzerklärung
                kann jederzeit unter Datenschutzerklärung abgerufen, abgespeichert und ausgedruckt werden.
            </p>
            <h3 id="-1-verantwortlicher-und-geltungsbereich-"><strong>§ 1 Verantwortlicher und Geltungsbereich</strong></h3>
            <p>
                Der Verantwortliche im Sinne der EU-Datenschutzgrundverordnung (im Folgenden: DSGVO) und anderer nationaler
                Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:
            </p>
            <p>OIY Solutions GmbH</p>
            <p>Sandkaulstraße 117</p>
            <p>52062 Aachen</p>
            <p>Deutschland</p>
            <p>Tel.: +49 151 23151577</p>
            <p>E-Mail: info@oater.de</p>
            <p>Webseite: www.oater.de</p>
            <p>
                Weitere Angaben können Sie dem Impressum unserer Webseite entnehmen. Diese Datenschutzerklärung gilt für das Internetangebot
                der OIY Solutions GmbH, welches unter der Domain <a href="http://www.oater.de/">www.oater.de</a> sowie den verschiedenen Subdomains
                (im Folgenden „unsere Webseite“ genannt) abrufbar ist.
            </p>
            <h3 id="-2-grunds-tze-der-datenverarbeitung-"><strong>§ 2 Grundsätze der Datenverarbeitung</strong></h3>
            <p>
                Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer
                funktionsfähigen Webseite sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten
                unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen eine
                vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und die Verarbeitung der Daten durch
                gesetzliche Vorschriften gestattet ist.
            </p>
            <h3 id="-3-rechtsgrundlagen-"><strong>§ 3 Rechtsgrundlagen</strong></h3>
            <p>Die Rechtsgrundlagen für die Verarbeitung von personenbezogenen Daten ergeben sich grundsätzlich aus:</p>
            <ul>
                <li>
                    6 Abs. 1 lit. a DSGVO, soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen
                    Person einholen.
                </li>
                <li>
                    6 Abs. 1 lit. b DSGVO bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen -
                    Vertragspartei die betroffene Person ist, erforderlich sind. Dies gilt auch für Verarbeitungsvorgänge, die zur
                    Durchführung vorvertraglicher Maßnahmen erforderlich sind.
                </li>
                <li>
                    6 Abs. 1 lit. c DSGVO, soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung
                    erforderlich ist, der unser Unternehmen unterliegt.
                </li>
                <li>
                    6 Abs. 1 lit. f DSGVO, soweit die Verarbeitung zur Wahrung eines berechtigten Interesses unseres Unternehmens oder eines
                    Dritten erforderlich ist und die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte Interesse
                    nicht überwiegen.
                </li>
            </ul>
            <p>Für die von uns vorgenommenen Verarbeitungsvorgänge geben wir jeweils die konkreten anwendbaren Rechtsgrundlagen an.</p>
            <h3 id="-4-datenl-schung-und-speicherdauer-"><strong>§ 4 Datenlöschung und Speicherdauer</strong></h3>
            <p>
                Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt.
                Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in
                unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen
                wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene
                Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen
                Vertragsabschluss oder eine Vertragserfüllung besteht.
            </p>
            <h3 id="-5-weitergabe-von-daten-"><strong>§ 5 Weitergabe von Daten</strong></h3>
            <p>Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>
            <ul>
                <li>Sie hierzu Ihre ausdrückliche Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO erteilt haben</li>
                <li>
                    dies gesetzlich zulässig und nach Art. 6 Abs. 1 lit. b DSGVO zur Erfüllung eines Vertragsverhältnisses mit Ihnen
                    erforderlich ist
                </li>
                <li>nach Art. 6 Abs. 1 lit. c DSGVO für die Weitergabe eine gesetzliche Verpflichtung besteht</li>
                <li>
                    die Weitergabe nach Art. 6 Abs. 1 lit. f DSGVO zur Wahrung berechtigter Unternehmensinteressen, sowie zur
                    Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und kein Grund zur Annahme besteht,
                    dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.
                </li>
            </ul>
            <p>Empfänger der Daten sind:</p>
            <ol>
                <li>Hubspot</li>
            </ol>
            <p>
                Auf dieser Website nutzen wir für verschiedene Zweck den Dienst HubSpot. HubSpot ist ein Softwareunternehmen aus den USA mit
                einer Niederlassung in Irland. Kontakt: HubSpot, 2nd Floor 30 North Wall Quay, Dublin 1, Ireland, Telefon: +353 1 5187500.
            </p>
            <p>
                Bei Hubspot handelt es sich um eine integrierte Software-Lösung, mit der wir verschiedene Aspekte unseres Online Marketings
                abdecken. Dazu zählen unter anderem:
            </p>
            <p>
                E-Mail-Marketing, Social Media Publishing &amp; Reporting, Reporting, Kontaktmanagement (z.B. Nutzersegmentierung &amp;
                CRM), Landing Pages und Kontaktformulare.
            </p>
            <p>
                Unser Anmelde-Service ermöglicht es Besuchern unserer Website, mehr über unser Unternehmen zu erfahren, Inhalte
                herunterzuladen und ihre Kontaktinformationen sowie weitere demografische Informationen zur Verfügung zu stellen. Diese
                Informationen sowie die Inhalte unserer Website werden auf Servern unseres Softwarepartners HubSpot gespeichert.
            </p>
            <p>
                Sie können von uns genutzt werden, um mit Besuchern unserer Website in Kontakt zu treten und um zu ermitteln, welche
                Leistungen unseres Unternehmens für sie interessant sind. Alle von uns erfassten Informationen unterliegen dieser
                Datenschutzbestimmung. Wir nutzen alle erfassten Informationen ausschließlich zur Optimierung unserer Marketing-Maßnahmen.
            </p>
            <p>
                Im Rahmen der Optimierung unseres Marketing-Maßnahmen können über Hubspot die folgenden Daten erhoben und verarbeitet
                werden:
            </p>
            <ul>
                <li>Geografische Position</li>
                <li>Browser-Typ</li>
                <li>Navigationsinformationen</li>
                <li>Verweis-URL</li>
                <li>Leistungsdaten</li>
                <li>Informationen darüber, wie oft wird die Anwendung verwendet wird</li>
                <li>Mobile Apps-Daten</li>
                <li>Anmeldeinformationen für den HubSpot-Abonnementdienst</li>
                <li>Dateien, die vor Ort angezeigt werden</li>
                <li>Domain Namen</li>
                <li>Betrachtete Seiten</li>
                <li>Aggregierte Nutzung</li>
                <li>Version des Betriebssystems</li>
                <li>Internetdienstanbieter</li>
                <li>IP-Addresse</li>
                <li>Gerätekennung</li>
                <li>Dauer des Besuchs</li>
                <li>Woher die Anwendung heruntergeladen wurde</li>
                <li>Betriebssytem</li>
                <li>Ereignisse, die innerhalb der Anwendung auftreten</li>
                <li>Zugriffszeiten</li>
                <li>Clickstream-Daten</li>
                <li>Gerätemodell und -version</li>
            </ul>
            <p>
                Darüber hinaus setzen wir Hubspot auch zur Bereitstellung von Kontaktformularen ein. Weitere diesbezügliche Informationen
                finden Sie in Unterpunkt 4 dieser Datenschutzerklärung.
            </p>
            <p>
                Die Rechtsgrundlage der Verarbeitung ist Ihre Einwilligung gemäß Art. 6 Abs. 1 lit. a DSGVO. Wenn Sie nicht möchten, dass
                über Hubspot die genannten Daten erhobenen und verarbeitet werden, können Sie Ihre Einwilligung verweigern oder diese
                jederzeit mit Wirkung für die Zukunft widerrufen.
            </p>
            <p>
                Die personenbezogenen Daten werden solange aufbewahrt, wie sie zur Erfüllung des Verarbeitungszwecks erforderlich sind. Die
                Daten werden gelöscht, sobald sie für die Zweckerreichung nicht mehr erforderlich sind. Im Rahmen der Verarbeitung via
                HubSpot können Daten in die USA übermittelt werden. Die Sicherheit der Übermittlung wird über sog. Standardvertragsklauseln
                abgesichert, welche gewährleisten, dass die Verarbeitung der personenbezogenen Daten einem Sicherheitsniveau unterliegen,
                dass dem der DSGVO entspricht. Sofern die Standardvertragsklauseln nicht ausreichen, um ein adäquates Sicherheitsniveau
                herzustellen kann Ihre Einwilligung gemäß Art. 49 Abs. 1 lit. a DSGVO als Rechtsgrundlage für die Übermittlung in
                Drittländer dienen.
            </p>
            <h3 id="-6-voraussetzungen-f-r-die-weitergabe-von-personenbezogenen-daten-in-drittl-nder-">
                <strong>§ 6 Voraussetzungen für die Weitergabe von personenbezogenen Daten in Drittländer</strong>
            </h3>
            <p>
                Im Rahmen unserer Geschäftsbeziehungen können Ihre personenbezogenen Daten an Drittgesellschaften weitergegeben oder
                offengelegt werden. Diese können sich auch außerhalb des Europäischen Wirtschaftsraums (EWR), also in Drittländern,
                befinden. Bei der Übertragung Ihrer personenbezogenen Daten in Drittländern achten wir auf die Einhaltung der besonderen
                Voraussetzungen der Art. 44 ff. DSGVO.
            </p>
            <p>
                Einigen Drittländern bescheinigt die Europäische Kommission durch sog. Angemessenheitsbeschlüsse einen Datenschutz, der dem
                EWR-Standard vergleichbar ist. In anderen Drittländern, in die ggf. personenbezogene Daten übertragen werden, herrscht aber
                unter Umständen wegen fehlender gesetzlicher Bestimmungen kein durchgängig hohes Datenschutzniveau. Soweit dies der Fall
                ist, achten wir darauf, dass der Datenschutz ausreichend gewährleistet ist. Möglich ist dies über bindende
                Unternehmensvorschriften, Standardvertragsklauseln der Europäischen Kommission zum Schutz personenbezogener Daten gem. Art. <a
                    href="https://beck-online.beck.de/?typ=reference&y=100&a=46&g=EWG_DSGVO">46</a
                > Abs. <a href="https://beck-online.beck.de/?typ=reference&y=100&a=46&g=EWG_DSGVO&x=1">1</a>, <a
                    href="https://beck-online.beck.de/?typ=reference&y=100&a=46&g=EWG_DSGVO&x=2">2</a
                > lit. c DSGVO in Verbindung mit angemessenen Sicherheitsgarantien, Zertifikate oder anerkannte Verhaltenskodizes.
            </p>
            <h3 id="-7-einzelne-verarbeitungsvorg-nge-"><strong>§ 7 Einzelne Verarbeitungsvorgänge</strong></h3>
            <ol>
                <li><strong>Bereitstellung und Nutzung der Webseite</strong></li>
                <li>Art und Umfang der Datenverarbeitung</li>
            </ol>
            <p>
                Bei Aufruf und Nutzung unserer Webseite erheben wir die personenbezogenen Daten, die Ihr Browser automatisch an unseren
                Server übermittelt. Wenn Sie unsere Webseite nutzen, erheben wir die folgenden Daten, die für uns technisch erforderlich
                sind, um Ihnen unsere Webseite anzuzeigen und die Stabilität und Sicherheit zu gewährleisten:
            </p>
            <ul>
                <li>IP-Adresse des anfragenden Rechners</li>
                <li>Datum und Uhrzeit des Zugriffs</li>
                <li>Name und URL der abgerufenen Datei</li>
                <li>Webseite, von der aus der Zugriff erfolgt (Referrer-URL)</li>
                <li>verwendeter Browser und ggf. das Betriebssystem Ihres Rechners, sowie der Name Ihres Access-Providers</li>
            </ul>
            <p>
                Diese Informationen werden temporär in einem sog. Logfile gespeichert. Eine Speicherung dieser Daten zusammen mit anderen
                personenbezogenen Daten des Nutzers findet nicht statt.
            </p>
            <ol>
                <li>Zwecke und Rechtsgrundlage</li>
            </ol>
            <p>
                Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Webseite an den
                Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben.
                Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Webseite sicherzustellen. Zudem dienen uns die Daten zur
                Optimierung der Webseite und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. Eine Auswertung der
                Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.
            </p>
            <p>
                Für die vorübergehende Speicherung der Daten und der Logfiles dient Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage. Die
                Erfassung der Daten zur Bereitstellung der Webseite und die Speicherung der Daten in Logfiles ist für den Betrieb der
                Webseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.
            </p>
            <ol>
                <li>Speicherdauer</li>
            </ol>
            <p>
                Sobald die genannten Daten zur Anzeige der Webseite nicht mehr erforderlich sind, werden sie gelöscht. Im Falle der
                Erfassung der Daten zur Bereitstellung der Webseite ist dies der Fall, wenn die jeweilige Sitzung beendet ist. Eine
                weitergehende Speicherung kann im Einzelfall dann erfolgen, wenn dies gesetzlich vorgeschrieben ist.
            </p>
            <p>
                Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende
                Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung
                des aufrufenden Clients nicht mehr möglich ist.
            </p>
            <ol>
                <li><strong>Registrierung / Warteliste</strong></li>
                <li>Art und Umfang der Datenverarbeitung</li>
            </ol>
            <p>
                Auf unserer Internetseite bieten wir Ihnen die Möglichkeit, sich unter Angabe personenbezogener Daten auf unsere Warteliste
                setzen zu lassen. Die Daten werden in eine Eingabemaske eigegeben, an uns übermittelt und gespeichert.
            </p>
            <p>
                Folgender Übersicht können Sie detailliert entnehmen, welche personenbezogenen Daten wir von Ihnen bei einer Registrierung
                erheben:
            </p>
            <ul>
                <li>Name</li>
                <li>E-Mailadresse</li>
                <li>Anschrift</li>
                <li>Geburtsdatum</li>
                <li>Ggf. Interessen</li>
            </ul>
            <p>Im Zeitpunkt der Registrierung werden zudem folgende Daten gespeichert:</p>
            <ul>
                <li>IP-Adresse</li>
                <li>Datum und Uhrzeit der Registrierung</li>
                <li>Aufenthaltsdauer des Nutzers auf der Webseite</li>
                <li>Zwecke und Rechtsgrundlage</li>
            </ul>
            <p>
                Die Registrierung ist zur Erfüllung eines Vertrags mit uns bzw. zur Durchführung vorvertraglicher Maßnahmen aus folgenden
                Gründen erforderlich: Wir prüfen Ihre Daten, um ihnen für Sie relevante Leistungen und Inhalte anbieten zu können.
            </p>
            <p>
                Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
                Die Verarbeitung der dargelegten personenbezogenen Daten dient der Erfüllung eines Vertrags zwischen Ihnen und uns oder der
                Durchführung vorvertraglicher Maßnahmen, so dass zusätzlich Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage dient.
            </p>
            <ol>
                <li>Ende der Registrierung oder Änderung von Daten</li>
            </ol>
            <p>
                Als Nutzer haben Sie jederzeit die Möglichkeit, die Registrierung zu beenden. Die über Sie gespeicherten Daten können Sie
                zudem jederzeit ändern lassen. Dazu gehen Sie folgendermaßen vor: Sie können uns entweder eine E-Mail an die oben genannte
                Adresse schreiben, damit wir Ihre Daten löschen, oder in Ihrem Konto Ihre Daten ändern.
            </p>
            <p>
                Falls die verarbeiteten Daten jedoch zur Erfüllung eines Vertrages oder zur Durchführung vorvertraglicher Maßnahmen weiter
                erforderlich sind, ist eine vorzeitige Löschung der Daten nur möglich, soweit dem nicht vertragliche oder gesetzliche
                Verpflichtungen entgegenstehen.
            </p>
            <ol>
                <li><strong>Newsletter</strong></li>
                <li>Art und Umfang der Datenverarbeitung</li>
            </ol>
            <p>
                Auf unserer Webseite besteht die Möglichkeit, einen kostenfreien Newsletter zu abonnieren. Um Ihnen regelmäßig den
                Newsletter zusenden zu können, benötigen wir von Ihnen die folgenden Angaben:
            </p>
            <ul>
                <li>E-Mailadresse</li>
                <li>Name</li>
            </ul>
            <p>Zudem werden folgende Daten bei der Anmeldung erhoben:</p>
            <ul>
                <li>IP-Adresse des aufrufenden Rechners</li>
                <li>Datum und Uhrzeit der Registrierung</li>
            </ul>
            <p>
                Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgang Ihre Einwilligung eingeholt und auf diese
                Datenschutzerklärung verwiesen.
            </p>
            <p>
                Im Zusammenhang mit der Datenverarbeitung für den Newsletterversand erfolgt keine Weitergabe Ihrer Daten an Dritte. Die
                Daten werden ausschließlich für den Versand des Newsletters verwendet.
            </p>
            <p>
                Für den Newsletterversand verwenden wir das sog. Double Opt-In-Verfahren, d.h. wir werden Ihnen erst dann den Newsletter
                zusenden, wenn Sie zuvor Ihre Anmeldung über eine Ihnen zu diesem Zweck zugesandte Bestätigungs-E-Mail per darin enthaltenem
                Link bestätigen. Damit möchten wir sicherstellen, dass nur Sie selbst sich als Inhaber der angegebenen E-Mailadresse zum
                Newsletter anmelden können. Ihre Bestätigung muss zeitnah nach Erhalt der Bestätigungs-E-Mail erfolgen, da andernfalls Ihre
                Newsletter-Anmeldung automatisch aus unserer Datenbank gelöscht wird.
            </p>
            <p>
                Wir behalten uns vor Ihnen auch ohne Einwilligung Werbung zuzusenden, wenn Sie bei uns Waren oder Dienstleistungen erworben
                haben und die Werbung in einem Zusammenhang mit den Waren oder Dienstleistungen steht. Dies erfolgt nur, sofern Sie der
                Werbung nicht vorher widersprochen haben. Bei jedem Zusenden weisen wir Sie zusätzlich auf die Möglichkeit des Widerspruchs
                hin.
            </p>
            <ol>
                <li>Zwecke und Rechtsgrundlage</li>
            </ol>
            <p>
                Die Erhebung der E-Mail-Adresse des Nutzers dient dazu, den Newsletter zuzustellen. Die Erhebung sonstiger personenbezogener
                Daten im Rahmen des Anmeldevorgangs dient dazu, einen Missbrauch der Dienste oder der verwendeten E-Mail-Adresse zu
                verhindern.
            </p>
            <p>
                Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletter durch den Nutzer ist bei Vorliegen einer
                Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO. Rechtsgrundlage für den Versand des Newsletters infolge des Verkaufs
                von Waren oder Dienstleistungen ist § 7 Abs. 3 UWG.
            </p>
            <ol>
                <li>Speicherdauer</li>
            </ol>
            <p>
                Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Die
                E-Mail-Adresse des Nutzers wird demnach solange gespeichert, wie das Abonnement des Newsletters aktiv ist. Die sonstigen im
                Rahmen des Anmeldevorgangs erhobenen personenbezogenen Daten werden in der Regel nach einer Frist von sieben Tagen gelöscht.
            </p>
            <p>Einwilligungserklärung:</p>
            <p>
                <em
                    >Mit der Eingabe meiner Daten und der Betätigung des Buttons „Abschicken“ erkläre ich mein Einverständnis zur
                    Verarbeitung meiner E-Mailadresse, Name für einen regelmäßigen Newsletterversand. Ich kann den Newsletter-Service
                    jederzeit wieder abbestellen, indem ich den entsprechenden Link am Ende des Newsletters anklicke.</em
                >
            </p>
            <p>
                <em
                    >Die Einwilligung zur Erhebung der während des Anmeldevorgangs erhobenen personenbezogenen Daten kann ich jederzeit
                    widerrufen.</em
                >
            </p>
            <hr />
            <ol>
                <li>Speicherdauer</li>
            </ol>
            <p>
                Ihre E-Mailadresse, Name wird so lange gespeichert, wie Sie den Newsletter abonniert haben. Nach einer Abmeldung vom
                Newsletterversand wird Ihre E-Mailadresse gelöscht. Eine weitergehende Speicherung kann im Einzelfall erfolgen, wenn dies
                gesetzlich vorgeschrieben ist.
            </p>
            <ol>
                <li><strong>Kontaktformular</strong></li>
                <li>Art und Umfang der Datenverarbeitung</li>
            </ol>
            <p>
                Auf unserer Webseite bieten wir Ihnen an, über ein bereitgestelltes Formular mit uns in Kontakt zu treten. Im Rahmen des
                Absendevorgangs Ihrer Anfrage über das Kontaktformular wird zur Einholung Ihrer Einwilligung auf diese Datenschutzerklärung
                verwiesen. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten an uns übermittelt
                und gespeichert.
            </p>
            <p>Diese Daten sind:</p>
            <ul>
                <li>E-Mailadresse</li>
                <li>Name</li>
                <li>Ggf. Unternehmen</li>
                <li>Ggf. Ansprechpartner</li>
                <li>Ggf. Weitere personenbezogene Daten, die sie uns im Rahmen der Nachricht mitteilen wollen</li>
            </ul>
            <p>Im Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten gespeichert:</p>
            <ul>
                <li>IP-Adresse</li>
                <li>Datum und Uhrzeit</li>
            </ul>
            <p>Bei der Nutzung des Kontaktformulars erfolgt keine Weitergabe Ihrer personenbezogenen Daten an Dritte.</p>
            <ol>
                <li>Rechtsgrundlage</li>
            </ol>
            <p>Die Angabe Ihrer E-Mailadresse dient dabei dem Zweck, Ihre Anfrage zuzuordnen und Ihnen antworten zu können.</p>
            <p>
                Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
            </p>
            <ol>
                <li>Speicherdauer</li>
            </ol>
            <p>Einwilligungserklärung:</p>
            <p>
                <em
                    >Mit der Eingabe meiner Daten und der Betätigung des Buttons „Abschicken“ erkläre ich mein Einverständnis zur
                    Verarbeitung meiner E-Mailadresse, Name, ggf. Unternehmen und ggf. weiterer personenbezogener Daten, die ich im Rahmen
                    meiner Nachricht mitteile für die Beantwortung meiner Kontaktanfrage.</em
                >
            </p>
            <p>
                <em
                    >Die Einwilligung zur Erhebung der während der Nutzung des Kontaktformulars erhobenen personenbezogenen Daten kann ich
                    jederzeit widerrufen.</em
                >
            </p>
            <hr />
            <p>
                Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die
                personenbezogenen Daten aus der Eingabemaske des Kontaktformulars ist dies dann der Fall, wenn die jeweilige Konversation
                mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der
                betroffene Sachverhalt
            </p>
            <p>
                abschließend geklärt ist. Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens
                nach einer Frist von sieben Tagen gelöscht.
            </p>
            <p><strong>§ 8 Einsatz von Cookies</strong></p>
            <ol>
                <li>Art und Umfang der Datenverarbeitung</li>
            </ol>
            <p>
                Wir setzten auf unserer Webseite Cookies ein. Cookies sind kleine Textdateien, die im Rahmen Ihres Besuchs unserer Webseiten
                von uns an den Browser Ihres Endgeräts gesendet und dort gespeichert werden. Einige Funktionen unserer Webseite können ohne
                den Einsatz technisch notwendiger Cookies nicht angeboten werden. Andere Cookies ermöglichen uns hingegen verschiedene
                Analysen. Cookies sind beispielsweise in der Lage, den von Ihnen verwendeten Browser bei einem erneuten Besuch unserer
                Webseite wiederzuerkennen und verschiedene Informationen an uns zu übermitteln. Mithilfe von Cookies können wir unter
                anderem unser Internetangebot für Sie nutzerfreundlicher und effektiver gestalten, indem wir etwa Ihre Nutzung unserer
                Webseite nachvollziehen und Ihre bevorzugten Einstellungen (bspw. Länder- und Spracheneinstellungen) feststellen. Sofern
                Dritte über Cookies Informationen verarbeiten, erheben diese die Informationen direkt über Ihren Browser. Cookies richten
                auf Ihrem Endgerät keinen Schaden an. Sie können keine Programme ausführen und keine Viren enthalten.
            </p>
            <p>Auf unserer Webseite werden verschiedene Arten von Cookies verwendet:</p>
            <p>
                | Art 1: Transient-Cookies | Auf unserer Webseite werden Transient-Cookies verwendet, die automatisch gelöscht werden,
                sobald Sie Ihren Browser schließen. Diese Art von Cookies ermöglicht es, Ihre Session-ID zu erfassen. Dadurch lassen sich
                verschiedene Anfragen Ihres Browsers einer gemeinsamen Sitzung zuordnen und es ist uns möglich, Ihr Endgerät bei späteren
                Webseitenbesuchen innerhalb einer Session wiederzuerkennen. | | --- | --- | | Art 2: Persistent-Cookies | Auf unserer
                Webseite werden Persistente-Cookies eingesetzt. Persistent-Cookies sind Cookies, die über einen längeren Zeitraum in Ihrem
                Browser gespeichert werden und Informationen an uns übermitteln. Die jeweilige Speicherdauer unterscheidet sich je nach
                Cookie. Sie können Persistent-Cookies eigenständig über Ihre Browsereinstellungen löschen. | | | | | Art 3:
                Third-Party-Cookies | Teilweise können auch Cookies von Drittunternehmen auf Ihrem Endgerät gespeichert werden, wenn Sie
                unsere Seite betreten. Diese ermöglichen uns oder Ihnen die Nutzung bestimmter Dienstleistungen des Drittunternehmens (z. B.
                Cookies zur Abwicklung von Zahlungsdienstleistungen). |
            </p>
            <ol>
                <li>Zweck und Rechtsgrundlage</li>
            </ol>
            <p>
                Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Webseites für die Nutzer zu vereinfachen. Einige
                Funktionen unserer Webseite können ohne den Einsatz von Cookies nicht angeboten werden. Dies bezieht sich beispielsweise auf
                folgende Anwendungen: Consentmanager. Außerdem tragen diese Cookies zu einer sicheren und vorschriftsgemäßen Nutzung der
                Webseite bei.
            </p>
            <p>
                Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität unserer Webseite und ihre Inhalte zu verbessern. Durch
                die Analyse-Cookies erfahren wir, wie die Webseite genutzt wird und können so unser Angebot stetig optimieren. Es werden
                etwa Informationen darüber erfasst, wie unsere Webseite von Besuchern genutzt wird, welche Seiten am häufigsten aufgerufen
                werden, oder ob auf bestimmten Seiten Fehlermeldungen angezeigt werden.
            </p>
            <p>
                Rechtsgrundlage für die Speicherung von Cookies, Geräte-Kennungen und ähnlichen Tracking-Technologien bzw. für die
                Speicherung von Informationen in der Endeinrichtung des Endnutzers und den Zugriff auf diese Informationen sowie eine
                anschließende Verwendung der personenbezogenen Daten ist gemäß § 25 Abs. 1 Gesetz zur Regelung des Datenschutzes und des
                Schutzes der Privatsphäre in der Telekommunikation und bei Telemedien (TTDSG) ihre Einwilligung. Werden die Cookies nicht
                auf dem Endgerät des Endnutzers gespeichert, ist die Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO erforderlich.
            </p>
            <p>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung technisch notweniger Cookies ist Art. 6
                Abs. 1 lit. f DSGVO.
            </p>
            <ol>
                <li>Speicherdauer</li>
            </ol>
            <p>
                Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt. Daher haben Sie als
                Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der Einstellungen in Ihrem
                Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können
                jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Webseite deaktiviert, können
                möglicherweise nicht mehr alle Funktionen der Webseite vollumfänglich genutzt werden.
            </p>
            <h3 id="-9-hyperlinks-"><strong>§ 9 Hyperlinks</strong></h3>
            <p>
                Auf unserer Webseite befinden sich sog. Hyperlinks zu Webseiten anderer Anbieter. Bei Aktivierung dieser Hyperlinks werden
                Sie von unserer Webseite direkt auf die Webseite der anderen Anbieter weitergeleitet. Sie erkennen dies u. a. am Wechsel der
                URL. Wir können keine Verantwortung für den vertraulichen Umgang Ihrer Daten auf diesen Webseiten Dritter übernehmen, da wir
                keinen Einfluss darauf haben, dass diese Unternehmen die Datenschutzbestimmungen einhalten.
            </p>
            <p>
                Auf unserer Webseite wird ein Button des Netzwerks „LinkedIn“ verwendet. Beim Betätigen dieses Buttons werden Sie auf unsere
                LinkedIn-Seite weitergeleitet. Dabei wird über Ihren Browser eine Verbindung zu Servern der LinkedIn Corp. (nachfolgend
                &quot;LinkedIn&quot;). LinkedIn speichert personenbezogenen Daten von Ihnen über den Aufruf dieser Webseite. Auf die
                Verarbeitung Ihrer personenbezogenen Daten durch LinkedIn haben wir keinen Einfluss. Die jeweils aktuellen
                Datenschutzinformationen von LinkedIn und ergänzende Informationen können Sie auf dieser Webseite abrufen:
            </p>
            <p><a href="https://de.linkedin.com/legal/privacy-policy">https://de.linkedin.com/legal/privacy-policy</a>.</p>
            <p>
                Auf unserer Webseite wird ein Button des Netzwerks „Instagram“ verwendet. Beim Betätigen dieses Buttons werden Sie auf
                unsere LinkedIn-Seite weitergeleitet. Dabei wird über Ihren Browser eine Verbindung zu Servern der Instagram Corp.
                (nachfolgend &quot;Instagram&quot;). Instagram speichert personenbezogenen Daten von Ihnen über den Aufruf dieser Webseite.
                Auf die Verarbeitung Ihrer personenbezogenen Daten durch Instagram haben wir keinen Einfluss. Die jeweils aktuellen
                Datenschutzinformationen von Instagram und ergänzende Informationen können Sie auf dieser Webseite abrufen:
            </p>
            <p>
                <a href="https://privacycenter.instagram.com/policy/?entry_point=ig_help_center_data_policy_redirect"
                    >https://privacycenter.instagram.com/policy/?entry_point=ig_help_center_data_policy_redirect</a
                >.
            </p>
            <h3 id="-10-betroffenenrechte-"><strong>§ 10 Betroffenenrechte</strong></h3>
            <p>Aus der DSGVO ergeben sich für Sie als Betroffener einer Verarbeitung personenbezogener Daten die folgenden Rechte:</p>
            <ul>
                <li>
                    <strong>Auskunft:</strong> Gemäß Art. 15 DSGVO können Sie Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten
                    verlangen. Sie können insbesondere Auskunft über die Verarbeitungszwecke, die Kategorien der personenbezogenen Daten, die
                    Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen
                    eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts,
                    die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, über eine Übermittlung in Drittländer oder an internationale
                    Organisationen sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftige
                    Informationen zu deren Einzelheiten verlangen.
                </li>
                <li>
                    <strong>Berichtigung:</strong> Gemäß Art. 16 DSGVO können Sie unverzüglich die Berichtigung unrichtiger oder die Vervollständigung
                    Ihrer bei uns gespeicherten personenbezogenen Daten verlangen.
                </li>
                <li>
                    <strong>Löschung:</strong> Gemäß Art. 17 DSGVO können Sie die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten
                    verlangen, soweit die Verarbeitung nicht zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung
                    einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung
                    von Rechtsansprüchen erforderlich ist.
                </li>
                <li>
                    <strong>Einschränkung:</strong> Gemäß Art. 18 DSGVO können Sie die Einschränkung der Verarbeitung Ihrer personenbezogenen
                    Daten verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, wir die Daten
                    nicht mehr benötigen und Sie deren Löschung ablehnen, weil Sie diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen
                    benötigen. Das Recht aus Art. 18 DSGVO steht Ihnen auch zu, wenn Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung
                    eingelegt haben.
                </li>
                <li>
                    <strong>Datenübertragbarkeit:</strong> Gemäß Art. 20 DSGVO können Sie verlangen, Ihre personenbezogenen Daten, die Sie uns
                    bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder Sie können die Übermittlung
                    an einen anderen Verantwortlichen verlangen.
                </li>
                <li>
                    <strong>Widerruf:</strong> Gemäß Art. 7 Abs. 3 DSGVO können Sie Ihre einmal erteilte Einwilligung jederzeit gegenüber uns
                    widerrufen. Dies hat zur Folge, dass wir die auf dieser Einwilligung beruhende Datenverarbeitung für die Zukunft nicht mehr
                    fortführen dürfen.
                </li>
                <li>
                    <strong>Widerspruch:</strong> Art. 21 DSGVO haben Sie bei der Verarbeitung Ihrer personenbezogenen Daten auf Grundlage berechtigter
                    Interessen gemäß Art. 6 Abs. 1 lit. f DSGVO das Recht, Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen,
                    soweit dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation ergeben oder sich der Widerspruch gegen Direktwerbung
                    richtet. Im Fall der Direktwerbung besteht für Sie ein generelles Widerspruchsrecht, das von uns ohne Angabe einer besonderen
                    Situation umgesetzt wird.
                </li>
                <li>
                    <strong>Beschwerde:</strong> Gemäß Art. 77 DSGVO steht Ihnen das Recht zu, sich bei einer Aufsichtsbehörde zu beschweren.
                    In der Regel können Sie sich hierfür an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes, Ihres Arbeitsplatzes oder unseres
                    Unternehmenssitzes wenden. Bei der für uns zuständigen Aufsichtsbehörde handelt es sich um:
                </li>
            </ul>
            <p>
                Die Landesbeauftragte für den Datenschutz und die Informationsfreiheit<br />
                Kavalleriestr. 2-4<br />
                40213 Düsseldorf<br />
                poststelle@ldi.nrw.de <br />0211 – 38424-0
            </p>
        </article>
    </div>
</Layout>
