---
import Layout from "../layouts/Layout.astro";
import Primary from "../components/primary.astro";
import Secondary from "../components/secondary.astro";
import Iconbar from "../components/iconbar.astro";
import ImgText from "../components/imagetext.astro";
import Hero from "../components/hero.astro";
import ImgTextFull from "../components/imagetextfull.astro";
import Slider from "../components/slider.astro";
import Oatermix from "../components/oatermix.astro";
import Headline from "../components/headline.astro";
---

<Layout title="THE OATER - Solution">
    <Hero heroHeading="Oat Drink Subscription" heroImage="/header_solutions.jpg" />

    <Iconbar
        bgcolor="bg-zinc-200"
        icontitle1="Fresh + Local"
        imgUrl1="/frischlokal.svg"
        icontitle2="Barista Quality"
        imgUrl2="/coffee.svg"
        icontitle3="Low-Waste"
        imgUrl3="/verpackungsarm.svg"
        icontitle4="Cost Saving"
        imgUrl4="/preiswert.svg"
        icontitle5="Without Added Sugar"
        imgUrl5="/zucker.svg"
    />

    <ImgTextFull reverse title="Your subscription and delivery" imgUrl="/ingedientmix_pattern.jpg">
        foundation for your subscription. The Oater automatically delivers the ingredient box you need, you pay monthly depending on your subscription size. No more supply shortages or last-minute supermarket purchases. Adjust your subscription as needed - we understand consumption fluctuates throughout the year.
For example, you are able to…  
     <br>
     <li>Adapt your subscription size</li>
    <br>
    <li>Temporarily add more Ingredient Mix in specific weeks/months</li>
    <br>
    <li>Pause your subscription for up to 4 weeks per year</li>
    </ImgTextFull>
    <ImgTextFull title="The Oater Barista Machine " imgUrl="/hotel.webp" id="machine">
        Pay a monthly financing fee for The Oater Barista machine, and for the Oater Mix per liter in a subscription model. Choose from various subscription sizes to suit your needs. Installation, setup, and regular maintenance are included. Detailed machine information can be found below.
        <Secondary slot="button" buttonName="To the Machine" buttonUrl="/machines" />
    </ImgTextFull>

    <ImgTextFull reverse title="Oat drink production" imgUrl="/Oat drink production.jpg">
        To make our oat drink you only need our ingredient box (the provided dry mix and canola oil) and water from the fixed water supply. Learn more about ingredient packs and the production process below.
        <Secondary slot="button" buttonName="The Oater Mix" buttonUrl="/solution#ingredientmix" />
    </ImgTextFull>
    <Oatermix
        id="ingredientmix"
        imgUrl="/zutaten-mix.png"
        title="The Oater Mix"
        mixpropertiesData={[
            {
                icon: "/biozertifiziert.svg",
                title: "Origin",
                text: "All our ingredients are organic-certified and sourced from Germany. We prioritize close relationships with our suppliers, ensuring transparency in quality, cultivation methods, and transport.",
            },
            {
                icon: "/hafer.svg",
                title: "Ingredients",
                text: "Our oat drink features organic oats, organic canola oil, and organic plant-based protein for luxurious foam.",
            },
            {
                icon: "/zucker.svg",
                title: "Sugar",
                text: "We do not add any sugar to our oat drink. Instead, we use a low-temperature fermentation that makes the oat drink taste naturally sweeter.",
            },
            {
                icon: "/verpackungsarm.svg",
                title: "Packaging",
                text: "Our dry mix is delivered in 100% biodegradable cellulose packaging, guaranteeing food hygiene.",
            },
            {
                icon: "/pflanzlich.svg",
                title: "Plant-Based",
                text: "The Oater Barista oat drink is 100% plant-based, free from animal products. We believe that the future of food is plant-based.",
            },
        ]}
    />
    <Headline headline="For Businesses" id="businesses" />
    <Slider
        sliderData={[
            {
                title: "Businesses",
                imgUrl: "/oateroffice_render.jpg",
                text: "Are you looking to provide your customers with unforgettable moments of enjoyment and explore flavorful new experiences? Look no further. At The Oater, we make it possible. Our creamy Barista oat drink, combined with our innovative appliance featuring timeless design, not only provide a harmonious taste experience and superb foam stability but also offers you a more sustainable alternative and a value-adding experience.You pay monthly a monthly fee for the machine and for the ingredient mix subscription which is delivered automatically. If you have any questions, please don't hesitate to contact us at hello@oater.de. What are you waiting for? Join the waitlist and be one of the first that offer freshly produced oat drink.",
            },
            {
                title: "Cafés",
                imgUrl: "/cafe.jpg",
                text: "As a café or coffee shop owner, you understand the importance of providing a memorable customer experience. This includes offering fresh, locally sourced, or carefully selected products. With the rising demand for oat drink and other plant-based alternatives, you might wonder: Can I combine freshness and a regional focus with oat drink? The answer is a resounding YES! Our The Oater Barista Machine empowers you to produce perfectly foamable and delicious oat drink right in your café. If you're convinced and ready to bring fresh oat drink to your cafe, register on our waitlist here. Your customers will appreciate the addition of our sustainable oat drink to your menu.",
            },
            {
                title: "Hotels",
                imgUrl: "/hotel.webp",
                text: " Are you seeking to provide your guests with a unique and delightful experience during their stay? Our The Oater Barista Machine is not only beautifully designed but also an aesthetic eye-catcher. It produces delicious Barista-quality oat drink, perfect for starting the day at your hotel with a cozy oat drink cappuccino. As your guests become increasingly conscious of sustainability, offering our oat drink allows you to actively reduce your environmental footprint and waste. Why not add The Oater Barista to your offerings and let your guests enjoy the positive impact they make with you? Register on our waitlist today and be a part of the oat drink revolution.",
            },
            {
                title: "Coworking Spaces/Offices ",
                imgUrl: "/office_kitchen.jpg",
                text: "Your office is where innovation thrives, and people come together – all fueled by coffee and other hot beverages. You're dedicated to fostering innovation and impact. Why not extend that dedication to innovation, indulgence, and sustainability in the workplace as well? Our The Oater Barista Machine seamlessly integrates into your coffee bar, meeting the daily needs of your employees for coffee, taste, and sustainable choices. What are you waiting for? Join the oat drink revolution and register on our wait list!"
            },
            {
                title: "For No-Waste Stores",
                imgUrl: "/zerowastestore.jpg",
                text: "If you're committed to eliminating packaging waste and promoting sustainable consumption behavior, we share your mission. We want to support you in providing your customers with a new, packaging-free alternative: Barista-quality oat drink produced directly in your shop. Waste reduction and sustainability are at the core of what we do. Don't wait; make oat drink fresh and register on our waitlist today.",
            },
        ]}
    />

    <ImgText title="Waitlist" imgUrl="/waitlist.webp" minusmargin="-mb-32">
        Oat drink in a carton was yesterday. The Oater machine produces the oat drink of the future. We are rethinking oat drink - with full
        barista quality and freshness – no packaging waste, no added sugar and no tradeoffs.
        <Primary slot="button" buttonName="To the Waitlist" buttonUrl="https://share-eu1.hsforms.com/1KM3gGgfeS1mdqBzwXyDhbgfnkng" />
    </ImgText>
</Layout>
