---
import Layout from "../layouts/Layout.astro";
import ImgText from "../components/imagetext.astro";
import Headline2 from "../components/headline2.astro";
import TwoImage from "../components/twoimagesfull.astro";
import Hero from "../components/hero.astro";
import ImgTextFull from "../components/imagetextfull.astro";
import Sustainable from "../components/sustainable.astro";
import Secondary from "../components/secondary.astro";
import Primary from "../components/primary.astro";
import Imagetext from "../components/imagetext.astro";
---

<Layout title="THE OATER - Sustainability">
    <Hero heroHeading="Sustainability Is Numbers Not Words" heroImage="/header_sustainability.jpg" />
    <ImgText reverse title="How Are We Sustainable" imgUrl="/sustainability.webp" id="how" background="white">
        At The Oater, sustainability is not just a buzzword; it's backed by data.<br> 
        Our study demonstrates that The Oater oat drink emits only 0.15kg of CO2 per liter. 
        This is a remarkable 57% less CO2 <span
            class="font-semibold">57% less CO2</span
        > equivalent compared to conventional packaged oat drinks and a staggering 93% less emissions than cow's milk. Here's how we achieve it:
    </ImgText>
    <ImgText title="Save Packaging" background="bg-oat-superlight" imgUrl="/mission.jpg">
        With The Oater, your business can eliminate compound cartons. Our fresh oat drink doesn't need a carton. 
        Instead, it can be dispensed directly into reusable bottles.
    </ImgText>
    <ImgText background="white" reverse title="Reduce Emissions" imgUrl="/saveemissions.jpg">
        Oat drink is composed of 90% water. Since our machine utilizes the local water supply, 
        only 10% of the weight needs to be transported for every liter produced. Less transportation 
        means fewer emissions.

    </ImgText>
    <ImgText title="Local Manufacturing" background="bg-oat-superlight" imgUrl="/localingredients.webp">
        Our machine is fully developed and assembled in Germany, reducing the need for long transport routes to your counter.
        By making further adjustments, we are committed to reducing our emissions even further, with the goal of becoming 79% less polluting than conventional oat drinks. You want to see for yourself? 
        Download our full sustainability report, which includes all data from the lifecycle assessment.
    </ImgText>
    <Headline2 headline="Full Transparency" subtitle="Read Why And How We Measure Our Impact" id="transparency"/>
    <ImgTextFull background="white" imgUrl="/footprint.jpg">
        In today's world, terms like "sustainable" and "green" are often overused and underdefined. At The Oater, we believe that sustainability is more than just words. It's about facts and figures.
        We conducted a Life Cycle Assessment (LCA) to assess the environmental impact of every stage of our product, from raw ingredient cultivation to the location of our mixing hub. This helps us quantify our environmental impact and compare ourselves to other products on the same scale.
         We asked a Germany University to assess if we really put our money where our mouth is. Read their results below.
    </ImgTextFull>
    <ImgTextFull reverse imgUrl="/lca.webp" id="how" background="white">
        The results of the independent LCA are clear: our oat drink creates 0.15kg CO2 equivalents per liter produced. Of this amount, 42
        percent can be attributed to the cultivation of the raw ingredients (oats, canola), 25 percent of emissions to packaging, 24 percent
        to production onsite and 9 percent to transport. This amount is 57 percent lower than conventional packaged oat drink and 93% lower
        than cow milk. But there are still some levers that can help us improve and reach up to 79% less emissions and that is what we are
        working on now. To learn more about our ecological footprint, download our entire sustainability report below.<br>
        <br><button id="downloadButton" class="inline-block rounded border-2 border-oat py-3 pl-5 pr-3 text-base font-bold uppercase text-raisin transition-all delay-75 duration-500 ease-in-out hover:scale-105 hover:bg-oat-superlight hover:shadow-sm">
            Download LCA
        
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2.7"
                stroke="currentColor"
                class="ml-1 -mt-1 inline-block h-5 w-5"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
            </svg>
        </button>
    </ImgTextFull>
    
    <script>
        document.getElementById("downloadButton").addEventListener("click", function () {
            // Create an anchor element
            var a = document.createElement("a");
            
            // Set the anchor's href attribute to the PDF file URL
            a.href = "/LCA_TheOater.pdf";
            
            // Specify the filename for the downloaded file
            a.download = "LCA_TheOater";
            
            // Programmatically trigger a click event on the anchor element
            a.click();
        });
    </script>
    
    <Sustainable
        heading="Our Goals" 
        subtitle="See What Goals We Are Striving Towards."
        id="goals"
        susData={[
            {
                iconUrl: "/co2reduction.svg",
                title: "Reduce CO2 Emissions By 79%",
                text: "We've identified three key levers for further emissions reduction.",
            },
            {
                iconUrl: "/shortdistances.svg",
                title: "Locate Logistics Hub Near Suppliers",
                text: "Locating logistics hubs near suppliers to shorten distances and reduce transport emissions.",
            },
            {
                iconUrl: "/greenenergy.svg",
                title: "Incentivize The Switch To Green Energy",
                text: " Incentivizing and facilitating the switch to green energy for our partners and customers.",
            },
        ]}
    />

    <Headline2 headline="Our Mission" />
    <TwoImage
        title1="Mission 1"
        subtitle1="500 Million Oat Drink Cartons Saved By 2030 "
        info1="With every liter of oat drink produced, you save 1 oat drink carton, since we produce on-site and dispense our oat drink into reusable bottles."
        imgUrl1="background-image: url(/mission1.webp)"
        title2="Mission 2"
        subtitle2="1 Billion kg CO2 Equivalents Saved By 2030"
        info2="Our carbon footprint is already 57% lower compared to conventional oat drink. Switching to our product saves CO2 equivalents with every liter produced. The more The Oater oat drink is produced, the more we save."
        imgUrl2="background-image: url(/mission2.webp)"
    />
</Layout>
