---
export interface props {
    imgUrl: string;
    headline?: string;
}

const { imgUrl, headline } = Astro.props;
---

<div class="mx-auto flex max-w-7xl flex-col items-center py-14 px-10">
    <h2 class="underline-4xl text-4xl font-bold">
        {headline}
    </h2>
    <img class="my-10 w-2/3 rounded" src={imgUrl} />
    <div class="flex justify-center gap-10 text-center">
        <div class="max-w-2xl">
            <div class="text-base leading-loose text-raisin">
                <slot />
            </div>
            <slot name="button" />
        </div>
    </div>
</div>
