<div class="container mx-auto max-w-7xl px-12 py-36">
	<article class="prose">
		<h2>Impressum</h2>
		<p>Angaben gemäß § 5 TMG Oater. | OIY Solutions GmbH Sandkaulstraße 117 52062 Aachen</p>
		<p>Vertreten durch: Sarah Nesti, Benjamin Auer, Henrik Burger</p>
		Geschäftsführer: Sarah Nesti, Benjamin Auer, Henrik Burger
		<p>Amtsgericht Aachen: HRB 25291 Kontakt</p>
		Telefon: +49 (0) 6224 9870 049 E-Mail: info@oater.de
		<p>
			EU-Streitschlichtung Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS)
			bereit: https://ec.europa.eu/consumers/odr/. Unsere E-Mail-Adresse finden Sie oben im Impressum.
			Verbraucher­streit­beilegung/Universal­schlichtungs­stelle Wir nehmen an einem Streitbeilegungsverfahren vor
			einer Verbraucherschlichtungsstelle teil. Zuständig ist die Universalschlichtungsstelle des Zentrums für
			Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am Rhein (https://www.verbraucher-schlichter.de).<p></p>
		</p>
	</article>
</div>
