---
export interface Props {
    dropdownData: Array;
}

const { dropdownData } = Astro.props;
---

<div class="invisible absolute z-10 w-screen max-w-xs pt-3 group-hover:visible">
    <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
        <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
            {
                dropdownData.map((dropData) => (
                    <a href={dropData.link} class="-m-4 block rounded-md p-3 transition duration-150 ease-in-out hover:bg-zinc-100">
                        <p class="font-medium text-raisin">{dropData.title}</p>
                        <p class="mt-1 text-sm text-gray-500">{dropData.body}</p>
                    </a>
                ))
            }
        </div>
    </div>
</div>
