---
import Layout from "../../layouts/Layout_de.astro";
import Mainhero from "../../components/mainhero.astro";
import Primary from "../../components/primary.astro";
import Secondary from "../../components/secondary.astro";
import Iconbar from "../../components/iconbar.astro";
import Sustainable from "../../components/sustainable.astro";
import ImgText from "../../components/imagetext.astro";
import Newsletter from "../../components/newslettersignup.astro";
import Blogsection from "../../components/blogsection.astro";
import IconbarHome from "../../components/iconbarHome.astro";
import Oatermix from "../../components/oatermix.astro";
---
<Layout title="THE OATER">
    <Mainhero
        heroImage="/The Oater Barista Maschine.png"
        heroHeading="Haferdrink, frisch gedacht"
        heroSubtitle="Für mehr Impact in deiner Gastro"
        heroText="Biete Deinen Gästen ein frisches Erlebnis – produziere vor Ort nachhaltigen Haferdrink in Barista Qualität. Entdecke, ob the Oater zu Deinem Café passt!"
    >
        <Primary slot="button" buttonName="Zum 1-Minuten Check" buttonUrl="https://share-eu1.hsforms.com/1KM3gGgfeS1mdqBzwXyDhbgfnkng" />
    </Mainhero>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26294092.js"></script>
<!-- End of HubSpot Embed Code -->
    <ImgText title="Dein Café, Dein Haferdrink" imgUrl="/mission.jpg">
        Entwickelt für die Gastronomie: Mit The Oater Barista® produzierst Du automatisiert Haferdrink frisch vor Ort. Mit unserer einfachen, verpackungsarmen Lösung setzt Du neue Maßstäbe in Sachen Geschmack und Nachhaltigkeit– für Deine Gäste und Dein Team.
        <Secondary slot="button" buttonName="So funktioniert's" buttonUrl="/de/produkt" />
    </ImgText>
   
    <Oatermix
    id="ingredientmixde"
    imgUrl="/zutaten-mix.png"
    title="Mehrwert durch Mehrweg"
    mixpropertiesData={[
        {
            icon: "/biozertifiziert.svg",
            title: "FRISCHE",
            text: "Unser Barista Haferdrink wird frisch vor Ort zubereitet und bietet so ein unvergleichliches Kundenerlebnis.",
        },
        {
            icon: "/hafer.svg",
            title: "BARISTA QUALITÄT",
            text: "Mit Gastronom:innen entwickelt, punktet unser Haferdrink durch exzellenter Schaum-Qualität und Harmonie im Kaffee.",
        },
        {
            icon: "/zucker.svg",
            title: "TETRAPAK-FREI",
            text: "Mit The Oater Barista® lässt sich der umweltschädliche Abfall von Tetrapaks vermeiden – einfach vor Ort produzieren und in Mehrwegflaschen abfüllen.",
        },
        {
            icon: "/verpackungsarm.svg",
            title: "AUS DEUTSCHLAND:",
            text: "The Oater setzt auf Qualität und Regionalität – wir entwickeln und fertigen unsere Produkte in Deutschland und beziehen zu 100% Deutschen Hafer.",
        },
        {
            icon: "/pflanzlich.svg",
            title: "EINFACHE BEDIENUNG",
            text: "Unsere Maschine produziert automatisiert – von Dosierung bis Reinigung. Gepaart mit intuitiver Bedienung fügt sie sich so nahtlos in schnelllebige Arbeitsabläufe ein.",
        },
    ]}
/>
    <IconbarHome
        bgcolor="bg-oat-superlight"
        title="Haferdrink Ohne Kompromisse"
        icontitle1="Frisch + Lokal"
        imgUrl1="/frischlokal.svg"
        icontitle2="Barista-Qualität"
        imgUrl2="/coffee.svg"
        icontitle3="Verpackungsarm"
        imgUrl3="/verpackungsarm.svg"
        icontitle4="Preiswert"
        imgUrl4="/preiswert.svg"
        icontitle5="Ohne Zuckerzusatz"
        imgUrl5="/zucker.svg"
    >
        <Secondary slot="button" buttonName="Unser Produkt" buttonUrl="/de/produkt" />
    </IconbarHome>

    <ImgText title="Das OATeam" imgUrl="/founders.webp" reverse>
        Wir sind ein Team von Träumern und Haferdrink- Enthusiasten aus Köln, die fest daran glauben, dass bei Haferdrink noch Luft nach
        oben ist. Alles begann als sich unsere CEO Sarah, die seit 7 Jahren Veganerin ist, von dem vielen Verpackungsmüll und der fehlenden
        Frische ihres Haferdrinks gestört fühlte. Das muss doch besser gehen, hat sie sich gedacht. Und jetzt über ein Jahr später können
        wir überzeugt sagen: Ja, es geht besser! Unserer Haferdrink ist frischer, regionaler, günstiger köstlicher UND nachhaltiger als
        vergleichbare Barista Packmilch. Wir sind
        <a
            href="https://de.linkedin.com/in/sarah-nesti"
            target="_blank"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Sarah</a
        >, <a
            href="https://de.linkedin.com/in/henrikburger/en"
            target="_blank"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Henrik</a
        >, <a
            href="https://de.linkedin.com/in/lisanesti/en"
            target="_blank"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Lisa</a
        > und
        <a
            href="https://de.linkedin.com/in/benjamin-auer-68668a1a7/en"
            target="_blank"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Benjamin</a
        > – <span class="font-semibold">Willkommen bei unserer Haferdrink Revolution!</span>
        <Secondary slot="button" buttonName="Über Uns" buttonUrl="/de/überuns" />
    </ImgText>

    <Sustainable
        background="bg-zinc-200"
        heading="Nachhaltigkeit"
        subtitle="Mit The Oater…"
        susData={[
            {
                iconUrl: "/kohlenstoffdioxid.svg",
                title: "…reduzierst Du CO2-Emissionen",
                text: "Unsere Zutaten-Packs wiegen nur 1/10 von einem abgepackten Haferdrink. Und weniger Gewicht und Hafer aus Deutschland bedeutet weniger Transport Emissionen.",
            },
            {
                iconUrl: "/verpackung.svg",
                title: "…sparst Du 48% Verpackungsmüll.",
                text: "Unser Haferdrink kommt ganz ohne Einweg-Verpackung aus und spart somit bis zu 48% Verpackungsmüll ein. Für unsere Zutatenmischung entwickeln wir zur Zeit eine Mehrweg-Verpackungssystem.",
            },
            {
                iconUrl: "/klimaneutral.svg",
                title: "…bleibst Du Klima-neutral.",
                text: "Wir achten darauf in unserer gesamten Wertschöpfungskette möglichst wenig Emissionen zu produzieren und optimieren durchgängig. Die unvermeidbaren Emissionen werden kompensiert.",
            },
        ]}
    >
        <Secondary slot="button" buttonName="Nachhaltigkeit" buttonUrl="/de/nachhaltigkeit" />
    </Sustainable>

    <Blogsection
        headline="Magazin"
        blogData={[
            {
                href: "https://magazin.oater.de/de/2022/10/19/mehr-nachhaltigkeit-im-cafe",
                imgUrl: "/sowirddeincafenachhaltiger.webp",
                tag: "sustainable",
                title: "So wird Dein Café nachhaltiger",
                author: "Sebastian",
                date: "Okt. 19, 2022",
            },
            {
                href: "https://magazin.oater.de/de/2022/07/07/das-ultimative-vegane-macaroni-and-cheese-rezept",
                imgUrl: "/macaroni.webp",
                tag: "REZEPT HUB",
                title: "DAS vegane Macaroni and Cheese Rezept",
                author: "Lisa",
                date: "Jul. 7, 2022",
            },
            {
                href: "https://magazin.oater.de/de/2022/08/02/tipps-gegen-lebensmittelverschwendung",
                imgUrl: "/retteretich.webp",
                tag: "ECO-FRIENDLY LIVING",
                title: "5 Tipps für weniger Lebensmittelverschwendung",
                author: "Katharina",
                date: "Aug. 2, 2022",
            },
        ]}
    >
        <Secondary slot="button" buttonName="Mehr Artikel" buttonUrl="https://magazin.oater.de/de" />
    </Blogsection>
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26294092.js"></script>
    <!-- Add a container div to wrap the button -->
    <div id="cookie_button_container">
        <!-- Add HubSpot Cookie trigger button HTML -->
        <button
            type="button"
            id="hs_show_banner_button"
            onClick="(function(){
                var _hsp = window._hsp = window._hsp || [];
                _hsp.push(['showBanner']);
            })()"
        >
            Cookie Settings
        </button>
    </div>

    <style>
        /* Add custom CSS for the container */
        #cookie_button_container {
            display: none; /* Hide the container by default */
        }

        /* Adjust the vertical position as needed, e.g., top: 30%; */
        #cookie_button_container.show-button {
            display: block; /* Show the container when it has the "show-button" class */
            position: fixed;
            right: 0;
            top: 21%; /* Set the initial vertical position to 30% */
            z-index: 999; /* Ensure it's above other content */
        }

        /* Add custom CSS for the HubSpot Cookie trigger button */
        #hs_show_banner_button {
            background-color: #ead18c;
            border: 1px solid #ead18c;
            border-radius: 3px;
            padding: 10px 16px;
            text-decoration: none;
            color: #fff;
            font-family: inherit;
            font-size: inherit;
            font-weight: normal;
            line-height: inherit;
            text-align: left;
            text-shadow: none;
            cursor: pointer;
            transition:  0.3s; /* Add a smooth transition effect */
            opacity: 0.3;
        }

        #hs_show_banner_button:hover {
            opacity: 1; /* Increase opacity on hover to 100% */
        }
    </style>

    <script>
        // JavaScript to show the button container after the Newsletter section
        window.addEventListener("scroll", function() {
            var newsletterSection = document.getElementById("newsletter_section");
            var buttonContainer = document.getElementById("cookie_button_container");

            if (newsletterSection && window.scrollY >= newsletterSection.offsetTop) {
                buttonContainer.classList.add("show-button");
            } else {
                buttonContainer.classList.remove("show-button");
            }
        });
    </script>
    <a id="newsletter_section"></a>
    <Newsletter headline="Verfolge Unsere Haferdrink Revolution!">
        Melde dich für den Newsletter an und erfahre sofort von neuen Rezepten und Firmennews! Keine Sorge, für unsere Mails gilt der
        gleiche Anspruch wie für unseren Haferdrink - kein Müll. </Newsletter>
</Layout>
