---
import Layout from "../../layouts/Layout_de.astro";
import Mainhero from "../../components/mainhero.astro";
import Primary from "../../components/primary.astro";
import Secondary from "../../components/secondary.astro";
import Iconbar from "../../components/iconbar.astro";
import Sustainable from "../../components/sustainable.astro";
import ImgText from "../../components/imagetext.astro";
import Newsletter from "../../components/newslettersignup.astro";
import Blogsection from "../../components/blogsection.astro";
---

<Layout title="THE OATER">
    <Mainhero
        heroImage="oater-full.webp"
        heroHeading="Revolution auf Knopfdruck"
        heroSubtitle="The Oater Haferdrinkmaschine"
        heroText="Die Maschine für frischen und nachhaltigen Haferdrink mit Barista Qualität in der Gastronomie."
    >
        <Primary slot="button" buttonName="Auf die Warteliste" buttonUrl="https://share-eu1.hsforms.com/1KM3gGgfeS1mdqBzwXyDhbgfnkng" />
    </Mainhero>

    <ImgText title="Our Mission" imgUrl="/mission.jpg">
        Haferdrink im Karton war gestern. The Oater Barista produziert den Haferdrink der Zukunft. Wir denken Haferdrink neu – bei voller
        Barista Qualität und Frische, ohne Verpackungsmüll, ohne Zuckerzusatz und ohne Kompromisse.
        <Secondary slot="button" buttonName="Unsere Mission" buttonUrl="/de/about" />
    </ImgText>

    <Iconbar
        bgcolor="bg-oat-superlight"
        title="Haferdrink ohne Kompromisse"
        icontitle1="Frisch + Lokal"
        imgUrl1="/frischlokal.svg"
        icontitle2="Barista-Qualität"
        imgUrl2="/coffee.svg"
        icontitle3="Verpackungsarm"
        imgUrl3="/verpackungsarm.svg"
        icontitle4="Preiswert"
        imgUrl4="/preiswert.svg"
        icontitle5="Ohne Zuckerzusatz"
        imgUrl5="/zucker.svg"
    >
        <Secondary slot="button" buttonName="Unser Produkt" buttonUrl="/de/solution" />
    </Iconbar>

    <ImgText title="Das OATeam" imgUrl="/founders.webp" reverse>
        Wir sind ein Team von Träumern und Haferdrink- Enthusiasten aus Köln, die fest daran glauben, dass bei Haferdrink noch Luft nach
        oben ist. Alles begann als sich unsere CEO Sarah, die seit 7 Jahren Veganerin ist, von dem vielen Verpackungsmüll und der fehlenden
        Frische ihres Haferdrinks gestört fühlte. Das muss doch besser gehen, hat sie sich gedacht. Und jetzt über ein Jahr später können
        wir überzeugt sagen: Ja, es geht besser! Unserer Haferdrink ist frischer, regionaler, günstiger köstlicher UND nachhaltiger als
        vergleichbare Barista Packmilch. Wir sind
        <a
            href="https://de.linkedin.com/in/sarah-nesti"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Sarah</a
        >, <a
            href="https://de.linkedin.com/in/henrikburger/en"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Henrik</a
        >, <a
            href="https://de.linkedin.com/in/lisanesti/en"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Lisa</a
        > und
        <a
            href="https://de.linkedin.com/in/benjamin-auer-68668a1a7/en"
            class="font-semibold text-oat-dark underline decoration-1 underline-offset-2 duration-500 hover:text-oat hover:transition-all"
            >Benjamin</a
        > – <span class="font-semibold">Willkommen bei unserer Haferdrink Revolution!</span>
        <Secondary slot="button" buttonName="Über Uns" buttonUrl="/de/about" />
    </ImgText>

    <Sustainable
        background="bg-zinc-200"
        heading="Nachhaltigkeit"
        subtitle="Mit The Oater…"
        susData={[
            {
                iconUrl: "/kohlenstoffdioxid.svg",
                title: "…reduzierst Du CO2-Emissionen",
                text: "Unsere Zutaten-Packs wiegen nur 1/10 von einem abgepackten Haferdrink. Und weniger Gewicht und Bio-Hafer aus Deutschland bedeutet weniger Transport Emissionen.",
            },
            {
                iconUrl: "/verpackung.svg",
                title: "…sparst Du 90% Verpackungsmüll.",
                text: "Unser Haferdrink kommt ganz ohne Einweg-Verpackung aus und spart somit bis zu 90% Verpackungsmüll ein. Für unsere Zutatenmischung entwickeln wir zur Zeit eine Mehrweg-Verpackungssystem.",
            },
            {
                iconUrl: "/klimaneutral.svg",
                title: "…bleibst Du Klima-neutral.",
                text: "Wir achten darauf in unserer gesamten Wertschöpfungskette möglichst wenig Emissionen zu produzieren und optimieren durchgängig. Die unvermeidbaren Emissionen werden kompensiert.",
            },
        ]}
    >
        <Secondary slot="button" buttonName="Nachhaltigkeit" buttonUrl="/de/sustainability" />
    </Sustainable>

    <Blogsection
        headline="Magazin"
        blogData={[
            {
                href: "https://magazin.oater.de/de/2022/10/19/mehr-nachhaltigkeit-im-cafe",
                imgUrl: "/sowirddeincafenachhaltiger.webp",
                tag: "sustainable",
                title: "So wird Dein Café nachhaltiger",
                author: "Sebastian",
                date: "Okt. 19, 2022",
            },
            {
                href: "https://magazin.oater.de/de/2022/07/07/das-ultimative-vegane-macaroni-and-cheese-rezept",
                imgUrl: "/macaroni.webp",
                tag: "REZEPT HUB",
                title: "DAS vegane Macaroni and Cheese Rezept",
                author: "Lisa",
                date: "Jul. 7, 2022",
            },
            {
                href: "https://magazin.oater.de/de/2022/08/02/tipps-gegen-lebensmittelverschwendung",
                imgUrl: "/retteretich.webp",
                tag: "ECO-FRIENDLY LIVING",
                title: "5 Tipps für weniger Lebensmittelverschwendung",
                author: "Katharina",
                date: "Aug. 2, 2022",
            },
        ]}
    >
        <Secondary slot="button" buttonName="Mehr Artikel" buttonUrl="https://magazin.oater.de/de" />
    </Blogsection>

    <Newsletter headline="Verfolge unsere Haferdrink Revolution!">
        Melde dich für den Newsletter an und erfahre sofort von neuen Rezepten und Firmennews! Keine Sorge, für unsere Mails gilt der
        gleiche Anspruch wie für unseren Haferdrink - kein Müll.
    </Newsletter>
</Layout>
