---
import Layout from "../../layouts/Layout_de.astro";
import Primary from "../../components/primary.astro";
import Iconbar from "../../components/iconbar.astro";
import ImgText from "../../components/imagetext.astro";
import Hero from "../../components/hero.astro";
import Headline from "../../components/headline.astro";
import ImageCenter from "../../components/imagecenter.astro";
import Values from "../../components/values.astro";
import Herocareer from "../../components/herocareer.astro";
---

<Layout title="THE OATER - Careers">
    <Herocareer heroHeading="Karriere" heroImage="/header_career.png" />
    <Headline headline="" />
    <ImgText title="Wer Wir Sind" imgUrl="/whoweare.jpg">
        Wir entwickeln hochwertige Geräte für die frische und nachhaltige Lebensmittelproduktion vor Ort. Unser erstes Produkt ist The Oater Barista Maschine – eine innovative Haferdrink-Maschine für die Gastronomie. Und das ist erst der Anfang.
        <br/>Unsere Vision ist es durch Frische, Transparenz und echte Nachhaltigkeit in die Lebensmittelindustrie zu bringen. Wir verstehen uns als Pioniere der lokalen Produktion von pflanzlichen Lebensmitteln. Bei The Oater glauben wir, dass die Zukunft der Lebensmittelherstellung ein Umdenken erfordert. Wir müssen überdenken, WO, WIE und WAS wir produzieren, um eine bessere Zukunft auf diesem Planeten für alle zu schaffen. Durch die hyperlokale Herstellung und die Verwendung regionaler Zutaten machen wir die Lebensmittelproduktion transparenter und nachhaltiger.
        <br/>Wir befähigen unsere Kunden, ihre Betriebe durch Innovation und Transparenz zu stärken und ihren eigenen Kunden frischere und nachhaltigere Angebote und Erlebnisse zu bieten. Wir revolutionieren den Haferdrink. Bist Du dabei?
    </ImgText>
    <Iconbar
        bgcolor="bg-oat-superlight"
        title="Leben Bei The Oater"
        icontitle1="Hybrid Work"
        imgUrl1="/hybridwork.svg"
        icontitle2="Fun Team Events"
        imgUrl2="/funteamevents.svg"
        icontitle3="Office In Cologne"
        imgUrl3="/cologneoffice.svg"
        icontitle4="Flexible Hours"
        imgUrl4="/flexiblehours.svg"
        icontitle5="Urban Sports"
        imgUrl5="/urbansports.svg"
    >
    Wir kommen aus verschiedenen Ländern und Kontinenten, sprechen unterschiedliche Sprachen und begrüßen alle Formen der Vielfalt! Unsere Arbeitskultur ist hybrid, flexibel, motiviert und kooperativ, alles getrieben von unserer gemeinsamen Vision, Lebensmittelproduktion erlebbar zu machen.<br>
    Als Unternehmen wollen wir wachsen und Impact schaffen – gemeinsam und nachhaltig. In einem positiven Arbeitsumfeld unterstützen wir uns gegenseitig dabei, große Visionen qualitativ hochwertig umzusetzen. Wir legen Wert auf Eigenverantwortung und frische Perspektiven. Unsere Werte stehen im Mittelpunkt unseres Umgangs im Team und darüber hinaus.
<br>The Oater verpflichtet sich, Chancengleichheit für Menschen aller Nationalitäten, Geschlechter, sexuellen Orientierungen, religiösen Hintergründe, Geschlechtsidentitäten und Menschen mit Behinderungen zu bieten. Wir laden alle ein, sich zu bewerben und zu unserem vielfältigen und inklusiven Team beizutragen.
    </Iconbar>
    <ImageCenter imgUrl="/team_career.jpg" headline="Das Team">
        <Primary slot="button" buttonName="Jetzt bewerben" buttonUrl="https://join.com/companies/oater" />
    </ImageCenter>
    <Values
        title="Unsere Werte"
        bgcolor="bg-zinc-200"
        cardData={[
            {
                icon: "/ownership.webp",
                title: "Ownership",
                text: "Bei The Oater ist es uns wichtig, dass alle Mitarbeitenden lernen, sich entwickeln und gefordert werden, ohne sich überfordert oder allein gelassen zu fühlen. Jedes Teammitglied übernimmt die Verantwortung für seine Projekte und erhält kontinuierliche Unterstützung und konstruktives Feedback.",
            },
            {
                icon: "/gratitude.webp",
                title: "Gratitude",
                text: "Wir sind achtsam und zeigen Wertschätzung für uns selbst und andere. Wir sind rücksichtsvoll, wertschätzend und feiern uns gegenseitig (und uns selbst) für unsere Erfolge.",
            },
            {
                icon: "/care.webp",
                title: "Care",
                text: "Unsere Handlungen haben Auswirkungen, die die Menschen um uns herum und die Umwelt betreffen. Daher treffen wir alle Entscheidungen, die darauf abzielen, eine lebenswertere Zukunft auf diesem Planeten für alle zu schaffen. Wir sorgen auch dafür, dass sich jedes Teammitglied wertgeschätzt und unterstützt fühlt.",
            },
            {
                icon: "/goodvibes.webp",
                title: "Good Vibes",
                text: "Bei The Oater sind wir optimistisch und haben eine positive Einstellung. Wir glauben, dass das Streben nach unserer gemeinsamen Vision uns nicht nur vereinen, sondern auch Spaß machen sollte.",
            },
            {
                icon: "/excellence.webp",
                title: "Excellence",
                text: "Bei The Oater setzen wir uns selbst hohe Standards und streben in allem, was wir tun, nach Exzellenz. Unsere Ambition und Leidenschaft treiben uns an, mit Sorgfalt, Flexibilität und Geschwindigkeit Mehrwert zu schaffen.",
            },
            {
                icon: "/together.webp",
                title: "Together",
                text: "Zusammenhalt ist das Fundament für ein starkes Team und ein erfolgreiches Unternehmen. Deshalb setzen wir auf Zusammenarbeit, Vertrauen und Unterstützung innerhalb unseres Teams. Dazu gehören Respekt, Empathie und gegenseitiger Support.",
            },
        ]}
    />
    <ImgText imgUrl="/office1.jpg" title="Unser Office" minusmargin="-mb-20">
        <span class="font-bold">InnoDom Cologne</span><br /> Weyertal 109 <br />50931 Köln<br /> Germany
    </ImgText>
</Layout>
