---
import Layout from "../../layouts/Layout_de.astro";
import Primary from "../../components/primary.astro";
import ImgText from "../../components/imagetext.astro";
import Hero from "../../components/hero.astro";
import Headline from "../../components/headline.astro";
import Newsletter from "../../components/newslettersignup.astro";
import Specs from "../../components/specs.astro";
import Hotspots from "../../components/hotspots.astro";
import Usage from "../../components/usage.astro";
---

<Layout title="THE OATER® - Maschines">
    <Hero heroHeading="The Oater® Maschinen" heroImage="/header_machines.jpg">
        <Primary buttonName="Auf die Warteliste" buttonUrl="https://share-eu1.hsforms.com/1KM3gGgfeS1mdqBzwXyDhbgfnkng" />
    </Hero>

    <Hotspots
        headline="The Oater® Barista"
        id="oaterbarista"
        imgUrl="/hotspots.png"
        hotspotData={[
            {
                pos: "top-[22%] left-[58%]",
                orientation: "left",
                title: "Intuitive Benutzung",
                text: "Wir halten es einfach – mit einem intuitiven Interface-Design. Dadurch fügt sich The Oater® Barista nahtlos in jeden schnelllebigen Arbeitsablauf ein.",
            },
            {
                pos: "top-[25%] left-[39%]",
                orientation: "right",
                title: "Dosierung der Zutatenmischung",
                text: "Unsere Maschine dosiert alle Zutaten (der Trockenmix, Öl und Wasser) automatisch. Einfach den Trockenmix und das Öl separat in die Zutatenbehälter oben einfüllen und schon kann es losgehen!",
            },
            {
                pos: "top-[36%] left-[55%]",
                orientation: "left",
                title: "Automatische Reinigung",
                text: "Wir wissen, wie wertvoll Deine Zeit ist. Deshalb reinigt sich unsere Maschine selbst und benötigt keine manuellen Reinigungsschritte.",
            },
            {
                pos: "top-[45%] left-[40%]",
                orientation: "right",
                title: "Integrierter Fermentationsprozess",
                text: "Die The Oater® Barista Maschine verwendet unser patentiertes Niedertemperatur-Fermentationsverfahren, um unseren Haferdrink ohne Zuckerzusatz natürlich süß und cremig zu machen.",
            },
            {
                pos: "top-[50%] left-[58%]",
                orientation: "left",
                title: "Made in Germany",
                text: "Bei The Oater® legen wir Wert auf Qualität und Nachhaltigkeit. Deshalb wird unsere Maschine komplett in Deutschland designed, entwickelt und gefertigt – ausschließlich aus hochwertigen Materialien. Wir bieten eine regelmäßige vorbeugende Wartung an, und alle unsere Teile können repariert oder ausgetauscht werden. Wir setzen auf Langlebigkeit.",
            },
            {
                pos: "top-[60%] left-[52%]",
                orientation: "left",
                title: "Herstellung in Chargen",
                text: "Die The Oater® Barista Maschine produziert bis zu 5 Liter auf einmal. Diese Chargengröße garantiert, dass eine große Nachfrage mit einem Produktionszyklus abgedeckt werden kann.",
            },
            {
                pos: "left-[39%] top-[75%]",
                orientation: "right",
                title: "Zeitloses Design",
                text: "Nachhaltigkeit muss kein Kompromiss sein, auch nicht im Design. Wir kombinieren zeitlose Eleganz, minimalistische Ästhetik und nachhaltige Technologie.",
            },
        ]}
    />

    <Usage
        background="bg-zinc-200"
        cards={[
            {
                img: "/functions.png",
                icon: "/production.webp",
                title: "Produktion",
                text: "Unsere Maschine produziert 5 Liter auf einmal. Dies stellt sicher, dass in den Stoßzeiten das Hafergetränk nicht ausgeht. Der Herstellungsprozess dauert ca. 80 Minuten. Du kannst den Fortschritt der Herstellung auf dem Bildschirm verfolgen.",
            },
            {
                img: "/functions.png",
                icon: "/Ausgabe.png",
                title: "Ausgabe",
                text: "Ist der Haferdrink fertig, füllst Du ihn einfach per Knopfdruck in Flaschen ab. Wir liefern die Flaschen, die zu den Maschinenmaßen passen. Wir empfehlen, den Haferdrink ca. 15 Minuten ruhen zu lassen und ihn dann im Kühlschrank aufzubewahren, da es sich u m ein frisches Produkt handelt.",
            },
            {
                img: "/functions.png",
                icon: "/Reinigung.png",
                title: "Reinigung",
                text: "Die The Oater® Barista Maschine benötigt keine manuellen Reinigungsschritte. Nach der Ausgabe einfach das Reinigungsschild einsetzen und die Maschine startet automatisch einen gründlichen Reinigungszyklus. Dieser Prozess dauert 15 Minuten und ist hygienegeprüft.",
            },
        ]}
    />
    <Headline headline="Einfach Frischer Haferdrink" id="setup" />
    <ImgText reverse title="Installation" imgUrl="/oatercafe_render.webp" minusmargin="-mt-10">
        Wir begleiten Deinen Start mit The Oater® persönlich. Unser Team kümmert sich um die Installation unserer Maschine in Deinem Betrieb. 
        Du musst nur ein paar Dinge sicherstellen, bevor wir loslegen können.<br>
        Folgendes muss vorhanden sein:<br>
            - Ausreichend Platz auf der Theke (bitte beachte die Abmessungen unten)<br>
            - Direkter Zugang zu einer Steckdose (keine Verlängerungssteckdose)<br>
            - Ein Festwasseranschluss
        <div class="font-bold">Wir können es kaum erwarten, The Oater® Barista in Deinen Betrieb zu bringen!</div>
    </ImgText>

    <ImgText title="Wartung" imgUrl="/maintenance.jpg" minusmargin="-mt-10">
        Im Rahmen Deines Abos bieten wir eine kostenlose Wartung an. Dieser Service umfasst regelmäßige Wartung, On-Demand-Unterstützung bei dringenden Problemen sowie die Reparatur und/oder den Austausch der Maschine oder von Teilen der Maschine. Es ist uns wichtig, dass du Dich mit dieser neuen Ergänzung Deines Betriebs unterstützt fühlst.
        <Primary slot="button" buttonName="Auf die Warteliste" buttonUrl="https://share-eu1.hsforms.com/1KM3gGgfeS1mdqBzwXyDhbgfnkng" />
    </ImgText>
    <Specs
        headline="Technische Daten"
        background="bg-zinc-200"
        imgUrl="/oater-full.png"
        specData={[
            {
                img: "/dimensions.svg",
                title: "Dimensionen",
                body: "(H) 60cm x (B) 30cm x (T) 50cm",
            },
            { img: "/weight.svg", title: "GEWICHT", body: "40 kg" },
            {
                img: "/powersupply.svg",
                title: "STROMVERSORGUNG",
                body: "234 Volt (normaler Stecker)",
            },
            { img: "/noiselevel.svg", title: "LÄRMPEGEL", body: "40-60dB" },
            {
                img: "/watersupply.svg",
                title: "WASSERVERSORGUNG",
                body: "Fester Wasseranschluss",
            },
            {
                img: "/volume.svg",
                title: "PRODUKTIONSMENGE PRO BATCH",
                body: "5 Liter",
            },
            {
                img: "/duration.svg",
                title: "PRODUKTIONSDAUER",
                body: "80 Minuten",
            },
            {
                img: "/cleaningduration.svg",
                title: "DAUER DES REINIGUNGSZYKLUS",
                body: "15 Minuten",
            },
            {
                img: "/refillables.svg",
                title: "ZUM NACHFÜLLEN",
                body: "Trockenmix, Rapsöl und Reinigungsflüssigkeit",
            },
            {
                img: "/bottles.svg",
                title: "FLASCHEN",
                body: "1 Liter Flaschen (im Lieferumfang enthalten)",
            },
        ]}
    />

    <Newsletter headline="Werde Teil Des OATeams">
        Melde dich für den Newsletter an und erfahre sofort von neuen Rezepten und Firmennews! 
        Keine Sorge, für unsere Mails gilt der gleiche Anspruch wie für unseren Haferdrink - kein Müll.
    </Newsletter>
</Layout>
