---
import Layout from "../../layouts/Layout_de.astro";
import ImgText from "../../components/imagetext.astro";
import Headline2 from "../../components/headline2.astro";
import TwoImage from "../../components/twoimagesfull.astro";
import Hero from "../../components/hero.astro";
import ImgTextFull from "../../components/imagetextfull.astro";
import Sustainable from "../../components/sustainable.astro";
import Headline3 from "../../components/headline3.astro";
import Headline from "../../components/headline.astro";
---

<Layout title="THE OATER - Sustainability">
    <Hero heroHeading="Unsere Zahlen Sprechen Für Sich." heroImage="/header_sustainability.jpg" />
    <ImgText reverse title="Wie Sind Wir Nachhaltig?" imgUrl="/sustainability.webp" id="how" background="white">
        Bei The Oater ist Nachhaltigkeit nicht ein leeres Versprechen sie basiert auf Daten. Unsere unabhängige Studie zur Ökobilanz zeigt unser Engagement zur erheblichen Reduzierung unserer Umweltauswirkungen.
        Unser unabhängiges Life Cycle Assessement zeigt, dass der Haferdrink von The Oater 0,15 kg CO2 pro Liter emittiert. Das sind bereits <span
            class="font-semibold">57 % weniger CO2</span
        >-Äquivalente im Vergleich zu herkömmlichem abgepacktem Haferdrink und 93 % weniger Emissionen als Kuhmilch.<br>Und so erreichen wir dieses Ergebnis.
    </ImgText>
    <ImgText title="Verpackung Sparen" imgUrl="/mission.jpg" background="bg-oat-superlight">
        Mit The Oater kann Dein Betrieb Einwegverpackungen eliminieren. Unser frischer Haferdrink benötigt keine Verpackung. Stattdessen kann der Haferdrink direkt in wiederverwendbare Flaschen abgefüllt werden.
    </ImgText>
    <ImgText background="white" reverse title="Emissionen Einsparen" imgUrl="/saveemissions.jpg">
        Haferdrink besteht zu 90% aus Wasser. Da unsere Maschine lokales Leitungswasser verwendet, müssen nur 10 % des Gewichts für jeden Liter transportiert werden.  
        Und weniger Transport bedeutet weniger Emissionen.
    </ImgText>
    <ImgText title="Lokale Produktion" imgUrl="/localingredients.webp" background="bg-oat-superlight">
        Unsere Maschine wird vollständig in Deutschland entwickelt und montiert, wodurch lange Transportwege zu Deiner Theke vermieden werden.
<br>Durch weitere Anpassungen wollen wir unsere Emissionen noch weiter senken, mit dem Ziel, 79 % weniger umweltschädlich zu sein als Haferdrinks  aus dem Einwegkarton.  Du möchtest Dich selbst davon überzeugen? Lade unser vollständiges Life Cycle Assessment herunter.
    </ImgText>

    <Headline2 headline="Volle Transparenz" subtitle="Warum wir unseren ökologischen Fußabdruck messen" id="transparency"/>
    <ImgTextFull background="white" imgUrl="/footprint.jpg">
        <div style="line-height: 2;"> In der heutigen Welt werden Begriffe wie "nachhaltig" und "grün" oft inflationär verwendet und nicht ausreichend definiert. 
        Wir bei The Oater glauben, dass Nachhaltigkeit mehr ist als nur ein leeres Wort. Es geht um Fakten und Zahlen. 
        Wir haben eine Lebenszyklusanalyse (LCA) durchgeführt, um die Umweltauswirkungen jeder Phase unseres Produkts zu bewerten, 
        vom Anbau der Rohstoffe bis zum Standort unseres Mischzentrums. 
        Dies hilft uns, unsere Umweltauswirkungen zu quantifizieren und uns mit anderen Produkten in der gleichen 
        Größenordnung zu vergleichen. Wir haben eine deutsche Hochschule gebeten zu überprüfen, ob wir unsere 
        Vorhaben auch in die Tat umsetzen. Unten kannst du die Ergebnisse nachlesen.</div>
    </ImgTextFull>
    <ImgTextFull imgUrl="/lca.webp" reverse background="white" align="lg:text-right">
        Die Ergebnisse der unabhängigen Ökobilanz sind eindeutig: Unser Haferdrink emittiert nur 0,15 kg CO2-Äquivalente pro Liter. Von diesem Betrag entfallen 42 % auf den Anbau der Rohstoffe (Hafer, Raps), 25 % auf die Verpackung, 24 % auf die Produktion vor Ort und 9 % auf den Transport. Dies entspricht einer signifikanten Reduktion, mit 57 % weniger CO2-Äquivalenten als konventionell verpackter Haferdrink und 93 % weniger Emissionen als Kuhmilch.
.Aber es gibt immer noch einige Stellschrauben, die uns helfen können, uns zu verbessern und bis zu 79 % weniger Emissionen zu erreichen, und genau daran arbeiten wir jetzt.
 Um mehr über unseren ökologischen Fußabdruck zu erfahren, lade unseren gesamten Nachhaltigkeitsbericht herunter.
 <br>
 <br><a href="https://share-eu1.hsforms.com/1jeIi5M6GR-qpwnjruL5_jAfnkng" target="_blank" rel="noopener noreferrer">
    <button id="downloadButton" class="inline-block rounded border-2 border-oat py-3 pl-5 pr-3 text-base font-bold uppercase text-raisin transition-all delay-75 duration-500 ease-in-out hover:scale-105 hover:bg-oat-superlight hover:shadow-sm">
        Download LCA

        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.7"
            stroke="currentColor"
            class="ml-1 -mt-1 inline-block h-5 w-5"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
        </svg>
    </button>
</a>
<!-- 
<script>
document.getElementById("downloadButton").addEventListener("click", function () {
    // Create an anchor element
    var a = document.createElement("a");
    
    // Set the anchor's href attribute to the PDF file URL
    a.href = "/LCA_TheOater.pdf";
    
    // Specify the filename for the downloaded file
    a.download = "LCA_TheOater";
    
    // Programmatically trigger a click event on the anchor element
    a.click();
});
</script>
-->
    </ImgTextFull>

    <Sustainable
        heading="Unsere Ziele"
        id="goals"
        susData={[
            {
                iconUrl: "/co2reduction.svg",
                title: "Reduzierung Der CO2 Emissionen Um 79%",
                text: "Wir haben Hebel identifiziert, um die Emissionen weiter zu reduzieren.",
            },
            {
                iconUrl: "/shortdistances.svg",
                title: "Logistikzentrum In Lieferanten-Nähe",
                text: "Durch die Verkürzung der Wege sind wir in der Lage, Transporte und damit Emissionen deutlich zu reduzieren.",
            },
            {
                iconUrl: "/greenenergy.svg",
                title: "Umstieg Auf Grüne Energie Inzentivieren",
                text: "Unser Ziel ist es, die Umstellung auf grüne Energie für unsere Partner:innen und Kund:innen zu fördern und zu erleichtern.",
            },
        ]}
    />

    <Headline2 headline="Unsere Mission" />
    <TwoImage
        title1="Mission 1"
        subtitle1="500 Millionen Haferdrink-Kartons Gerettet Bis 2030"
        info1="Mit jedem Liter Haferdrink, den wir produzieren, sparen wir einen Haferdrink-Karton, da wir vor Ort produzieren und unseren Haferdrink in wiederverwendbare Flaschen abfüllen.        "
        imgUrl1="background-image: url(/mission1.webp)"
        title2="Mission 2"
        subtitle2="1 Milliarde kg CO2 Eingespart Bis 2030"
        info2="Unser CO2-Fußabdruck ist bereits um 57 % niedriger im Vergleich zu konventionellem Haferdrink. Der Wechsel zu unserem Produkt spart bei jedem Liter CO2-Äquivalente. Je mehr The Oater Haferdrink produziert wird, desto mehr sparen wir."
        imgUrl2="background-image: url(/mission2.webp)"
    />
</Layout>
