---
export interface Props {
    title: string;
}

const { title } = Astro.props;
import "../styles/base.css";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import Dropdown from "../components/navdropdown.astro";
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script defer data-domain="oater.de" src="https://plausible.io/js/script.js"></script>
    </head>
    <body class="scroll-smooth bg-white">
        <Navbar
            navitem1="Produkt"
            navitem2="Maschinen"
            navitem3="Über Uns"
            navitem4="Nachhaltigkeit"
            navitem5="Magazin"
            href1="/de/produkt"
            href2="/de/maschinen"
            href3="/de/überuns"
            href4="/de/nachhaltigkeit"
            href5="https://magazin.oater.de/de"
            href6="https://shop.oater.de/"
            hrefLogo="/de"
            logoTitle="Startseite"
            language1="Deutsch"
            language2="English"
            hreflanguage2="/"
            hreflanguage1="/de"
            languagePicker="DE"
        >  
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26294092.js"></script>
<!-- End of HubSpot Embed Code -->
            <Dropdown
                slot="dropdown1"
                dropdownData={[
                    {
                        link: "/de/produkt#abo",
                        title: "Unsere Lösung",
                        body: "Erfahre, wie unsere Maschine und unser Abo funktionieren",
                    },
                    {
                        link: "/de/produkt#ingredientmixde",
                        title: "Unser Zutaten-Mix",
                        body: "Woraus besteht unser Haferdrink",
                    },
                    {
                        link: "/de/produkt#businesses",
                        title: "Für Unternehmen",
                        body: "Bring The Oater® in Deinen Betrieb",
                    },
                ]}
            />
            <Dropdown
                slot="dropdown2"
                dropdownData={[
                    {
                        link: "/de/maschinen#oaterbarista",
                        title: "Funktionen",
                        body: "Wie funktioniert The Oater® Barista Maschine",
                    },

                    {
                        link: "/de/maschinen#setup",
                        title: "Setup",
                        body: "Wie funktioniert das Maschinen-Setup",
                    },
                    {
                        link: "/de/maschinen#specs",
                        title: "Technische Daten",
                        body: "Alle Details zur Maschine",
                    },
                ]}
            />
            <Dropdown
                slot="dropdown3"
                dropdownData={[
                    {
                        link: "/de/überuns#mission",
                        title: "Unsere Mission",
                        body: "Welche Mission und Vision treiben uns an",
                    },
                    {
                        link: "/de/überuns#team",
                        title: "Lern das Team kennen",
                        body: "Lerne die Gründer:innen und das OATeam kennen",
                    },
                    {
                        link: "/de/überuns#geschichte",
                        title: "Unsere Geschichte",
                        body: "Wie wir angefangen haben und wo wir jetzt stehen",
                    },
                    {
                        link: "/de/karriere",
                        title: "Karriere bei The Oater®",
                        body: "Wir revolutionieren den Haferdrink. Bist Du dabei?",
                    },
                ]}
            />
            <Dropdown
                slot="dropdown4"
                dropdownData={[
                    {
                        link: "/de/nachhaltigkeit#how",
                        title: "Wie sind wir nachhaltig",
                        body: "Wie wir 41 % Emissionen einsparen",
                    },
                    {
                        link: "/de/nachhaltigkeit#transparenz",
                        title: "Volle Transparenz",
                        body: "Warum und wie wir unsere Wirkung messen",
                    },
                    {
                        link: "/de/nachhaltigkeit#ziele",
                        title: "Unsere Ziele",
                        body: "Welche Ziele streben wir an",
                    },
                ]}
            />
        </Navbar>

        <slot />
<!-- Start of HubSpot Embed Code 
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26294092.js"></script>
End of HubSpot Embed Code --> 
</scritp>
        <Footer
            claim="Die Maschine für frischen und nachhaltigen Haferdrink mit Barista-Qualität im Café. "
            womentecheu="Gefördert durch Women TechEU. "
            firstcoltitle="Unternehmen"
            firstcolData={[
                {
                    href: "/de/",
                    name: "Startseite",
                },
                {
                    href: "/de/produkt",
                    name: "Produkt",
                },
                {
                    href: "/de/maschinen",
                    name: "Maschinen",
                },
                {
                    href: "/de/überuns",
                    name: "Über uns",
                },
                {
                    href: "/de/nachhaltigkeit",
                    name: "Nachhaltigkeit",
                },
                {
                    href: "/de/karriere",
                    name: "Karriere",
                },
                {
                    href: "https://magazin.oater.de/de",
                    name: "Magazin",
                },
            ]}
            secondcoltitle="Kontakt"
            secondcolData={[
                {
                    href: "mailto:hello@oater.de",
                    name: "E-Mail",
                },
                {
                    href: "https://www.instagram.com/the_oater/",
                    name: "Instagram",
                },
                {
                    href: "https://www.linkedin.com/company/oater",
                    name: "Linkedin",
                },
                {
                    href: "https://share-eu1.hsforms.com/1Aq5AD-i8RbixcL95b9kT4Afnkng",
                    name: "Newsletter",
                },
                {
                    href: "https://oater.us8.list-manage.com/subscribe?u=39c4c7c39b291aaa33750c897&id=7c37cda616",
                    name: "Warteliste",
                },
            ]}
            thirdcoltitle="Rechtliches"
            thirdcolData={[
                {
                    href: "/de/impressum",
                    name: "Impressum",
                },
                {
                    href: "/de/datenschutzerklärung",
                    name: "Datenschutzerklärung",
                },
                {
                    href: "/VermAnlG_OIY_Solutions_GmbH_VIB_17042024.pdf",
                    name: "Risiko Sheet",
                },
            ]}
        />
    </body>
</html>
