---
export interface Props {
    title: string;
}

const { title } = Astro.props;
import "../styles/base.css";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import Dropdown from "../components/navdropdown.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script defer data-domain="oater.de" src="https://plausible.io/js/script.js"></script>
    </head>
    <body class="scroll-smooth bg-white">
        <Navbar
            navitem1="Produkt"
            navitem2="Maschinen"
            navitem3="Über Uns"
            navitem4="Nachhaltigkeit"
            navitem5="Magazin"
            href1="/de/produkt"
            href2="/de/maschinen"
            href3="/de/überuns"
            href4="/de/nachhaltigkeit"
            href5="https://magazin.oater.de/de"
            hrefLogo="/de"
            logoTitle="Startseite"
            language1="Deutsch"
            language2="English"
            hreflanguage2="/"
            hreflanguage1="/de"
            languagePicker="DE"
        >
            <Dropdown
                slot="dropdown1"
                dropdownData={[
                    {
                        link: "/de/produkt#machine",
                        title: "Our produkt",
                        body: "Learn how our machine and subscription work",
                    },
                    {
                        link: "/de/produkt#ingredientmix",
                        title: "Our Ingredient Mix",
                        body: "Read what our oat drink is made of",
                    },
                    {
                        link: "/de/produkt#businesses",
                        title: "For Businesses",
                        body: "Bring The Oater to your business",
                    },
                ]}
            />
            <Dropdown
                slot="dropdown2"
                dropdownData={[
                    {
                        link: "/de/maschinen#oaterbarista",
                        title: "Features",
                        body: "Understand how the The Oater Barista works",
                    },

                    {
                        link: "/de/maschinen#setup",
                        title: "Setup",
                        body: "Learn how the machine setup works",
                    },
                    {
                        link: "/de/maschinen#specs",
                        title: "Specs",
                        body: "Dive deep into all the machine details",
                    },
                ]}
            />
            <Dropdown
                slot="dropdown3"
                dropdownData={[
                    {
                        link: "/de/überuns#mission",
                        title: "Our Mission",
                        body: "Understand what mission and vision drives us",
                    },
                    {
                        link: "/de/überuns#team",
                        title: "Meet The Team",
                        body: "Get to know the founders and the OATeam",
                    },
                    {
                        link: "/de/überuns#story",
                        title: "Our Story",
                        body: "Learn how we got started and where we are now",
                    },
                    {
                        link: "/de/karriere",
                        title: "Karrieres at The Oater",
                        body: "We are revolutionizing oat drink. Do you want to join?",
                    },
                ]}
            />
            <Dropdown
                slot="dropdown4"
                dropdownData={[
                    {
                        link: "/de/nachhaltigkeit#how",
                        title: "How we are sustainable",
                        body: "Learn how we save 57% emissions",
                    },
                    {
                        link: "/de/nachhaltigkeit#transparency",
                        title: "Full Transparency",
                        body: "Read why and how we measure our impact",
                    },
                    {
                        link: "/de/nachhaltigkeit#goals",
                        title: "Our Goals",
                        body: "See what goals we are striving towards",
                    },
                ]}
            />
        </Navbar>

        <slot />

        <Footer
            claim="Die Maschine für frischen und nachhaltigen Haferdrink mit Barista-Qualität im Café. "
            firstcoltitle="Unternehmen"
            firstcolData={[
                {
                    href: "/",
                    name: "Startseite",
                },
                {
                    href: "/produkt",
                    name: "Produkt",
                },
                {
                    href: "/maschinen",
                    name: "Maschinen",
                },
                {
                    href: "/überuns",
                    name: "Über uns",
                },
                {
                    href: "/nachhaltigkeit",
                    name: "Nachhaltigkeit",
                },
                {
                    href: "/karriere",
                    name: "Karriere",
                },
                {
                    href: "https://magazin.oater.de/de",
                    name: "Magazin",
                },
            ]}
            secondcoltitle="Kontakt"
            secondcolData={[
                {
                    href: "mailto:hello@oater.de",
                    name: "E-Mail",
                },
                {
                    href: "https://www.instagram.com/the_oater/",
                    name: "Instagram",
                },
                {
                    href: "https://www.linkedin.com/company/oater",
                    name: "Linkedin",
                },
                {
                    href: "https://share-eu1.hsforms.com/1Aq5AD-i8RbixcL95b9kT4Afnkng",
                    name: "Newsletter",
                },
                {
                    href: "https://oater.us8.list-manage.com/subscribe?u=39c4c7c39b291aaa33750c897&id=7c37cda616",
                    name: "Warteliste",
                },
            ]}
            thirdcoltitle="Rechtliches"
            thirdcolData={[
                {
                    href: "/impressum",
                    name: "Impressum",
                },
                {
                    href: "/datenschutzerklärung",
                    name: "Datenschutzerklärung",
                },
            ]}
        />
    </body>
</html>
